[2019-04-11 10:03] #310 closed

[2019-04-11 10:24] bigretromike opened #311 "Option to swap Actors x Characters or/and make it permanent for video source"
Before it was preferred to swap those, because having them correct didn't  benefit us that much.
Then came support for ExtraInfoScript and it worked ok, because it would get his own list of actors.
Now we have Video Source and we would need to have it swap.

I'm thinking that for Video Source aka `/tvshows/` this should be swapped (without ability to pick) and for anything else (plugin) option to

[2019-04-11 10:27] bigretromike commented on #311
Also why I want to swap them back for `/tvshows/` simple, now when he add character it looks like wrong characters are linked with series because it still link them by actors.

[2019-04-11 10:27] bigretromike commented on #311
Also I see its half mixed up. The name is ok, the picture if from character. So half work done ;-)

[2019-04-11 10:48] da3dsoul commented on #311
Yeah I did it that way because in anime, you don't care what the actor looks like

[2019-04-11 11:04] bigretromike commented on #311
DEFINITELY THAT'S MY THING ! :-) but its wrong very bad for Video Source

[2019-04-12 09:10] bigretromike commented on #307
Context Menu updated for Video Library;

[2019-04-15 11:09] bigretromike opened #312 "Service throw error while scaning video source"
[code]

[2019-04-15 11:10] #312 closed

[2019-04-15 11:23] bigretromike commented on #307
While scanning:

[code]

[2019-04-15 11:24] da3dsoul commented on #307
Didn't you post that a week ago

[2019-04-15 11:57] bigretromike commented on #306
@AkariDN hey, any idea why it throws this king of error for every tvshow that is being added to Video Library ?
[code]
We use `setArt()` for our ListItems, but do we need to write some custom function `GetArt` or something?

[2019-04-15 12:07] bigretromike commented on #307
And still nothing changed xD , looks like I did.
But gh working like s#!$ so I couldn't really see.

[2019-04-15 12:30] da3dsoul commented on #307
Haha fair

[2019-04-15 12:37] bigretromike commented on #307
All `strHash` are same - probably my fault after last commit, but don't see where I did an error.
https://github.com/bigretromike/nakamori.plugin/commit/c6b1cdc538f97e748edf7d78d8b8263a8b355951
https://github.com/bigretromike/nakamori.lib/commit/618acc59e7d7bd2edc8ec7c3f1618e80a49683f3

That would make sense only when all data that goes to hash are empty.

[2019-04-16 05:34] #311 closed

[2019-04-16 05:43] bigretromike commented on #292
- [ ] Search options (missing add, clear - I can search them but can't remove them)
- [ ] when searching (for NEW, not picking from list) word that don't result in anything i get popup 'try a different query' and nakamori exit to Videos view (ex. jooj, it don't return jojo, empty list, boom you are in videos)

[2019-04-16 08:11] bigretromike commented on #309
Looks like you fix'd it, close ?

[2019-04-16 11:22] da3dsoul commented on #309
Yeah

[2019-04-16 11:22] #309 closed

[2019-04-16 11:25] da3dsoul commented on #292
Accidentally hit close while scrolling...
Anyway, remove is in the context menu where it should be.

Jooj vs Jojo is a server error that I won't be fixing for a while. It closing Nakamori is a bug that I'll fix

[2019-04-16 14:39] bigretromike commented on #292
I don't mind that fuzzy search is broken the issue was the exit after empty search

On April 16, 2019 1:25:39 PM GMT+02:00, da3dsoul <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-04-17 11:08] bigretromike opened #313 "idea: characters info linked with seiyuu (images, pictures)"
Something like this: https://forum.kodi.tv/showthread.php?tid=342408 / https://forum.kodi.tv/showthread.php?tid=342468 but with characters - all charactersa out already in shoko but I want to do something without skin modification.
Swapping that data if fine for now, but I would like to have something that could get 'Quality' mark ;-):
- gif of seiyuu x character made on fly (PIL) and inject those

[2019-04-17 11:46] da3dsoul commented on #313
The gif idea is cool if it would work

[2019-04-17 11:48] bigretromike commented on #313
yeah, if it support gif then it will work because I tried gif before with calendar with scrolling titles

[2019-04-17 11:49] da3dsoul commented on #313
Is that how you did that? Cool

[2019-04-17 11:50] bigretromike commented on #313
I did it before but PIL was one version lower than needed and I probably used the scrolling from text field;

[2019-04-17 11:50] bigretromike commented on #313
because I wanted PIL to make those gif but end up having font so big (for tv) that it was in range of default ones too ;p Would have to check

[2019-04-17 12:00] bigretromike commented on #313
gif this could be on server level or kodi with external binary library (because PIL is to low to produce animated gifs), I remamber using PIL to make frames and external linux command to merge them into animation - it worked well.

[2019-04-18 10:41] bigretromike commented on #313
@da3dsoul you liked gif animated idea, I made PoC in plugin+lib - just test it out on small filter (like continue watching) or even something smaller.
Remember to enable it in Settings > Advanced > second swap seiyuu option (I didn't care to add other name because its Prof of Concept only.

[2019-04-18 10:54] bigretromike commented on #313
imo, as cool was the concept and how easy it was (not like before) to execute it the downsides are massive:
- need to be on server side even then it would have to be pre-builded or make it a multi-thread operation because it takes time
- color pallet is limited the more colors on both images the more 'noise' in gif result
- advanced technics are require to center image as some show full bodies of

[2019-04-19 05:53] bigretromike commented on #313
@da3dsoul I hoped you would write something 🌜

[2019-04-19 14:20] da3dsoul commented on #313
I can look at it *eventually*. It's not currently high on my priority list

[2019-04-19 14:38] bigretromike commented on #313
look or not, I was hoping you would read my long shit wall of text - complain 3 times about my grammar and then give feedback about whole idea

[2019-04-19 14:58] da3dsoul commented on #313
Oh I did read it immediately. I always do.
Honestly, this is not feasible for Kodi, anyway. There may be some magic way to fade opacity on something, but as you mentioned, trying to bake it into an image or video for Kodi to display has a lot of issues

[2019-04-19 15:01] bigretromike commented on #313
so we discarding the 'gif' option, yes ?

[2019-04-19 15:03] da3dsoul commented on #313
Probably. The two options are to:
- bake them ahead of time and take a ton of space with low quality
- find another format, other than gif, that is faster/lower size/lower quality and Kodi can still display

[2019-04-25 19:12] bigretromike commented on #306
Our lord and savior @AkariDN did push fix that end-up in kodi 18.2
While mine issues weren't resolved its a still nice thing to have.

without `Files.GetFileDetails` fix we can't sync watch from shoko to library after import it's still a stable thing.

So we having a great functionality for 18.2+

[2019-04-25 19:14] da3dsoul commented on #306
We might be able to with DB hacks similar to that watched state manager I've seen but never used

[2019-04-25 20:41] bigretromike commented on #306
or if you are able to fix the shit inside kodi c++ code from issue I made :P and then I can make it work with proper API call ;p

[2019-04-30 05:48] bigretromike commented on #301
The only issue i have, but I think I wrote it somewhere but cant find it right now and its an issue:
- [ ] when backing from search results you end up in main menu instead of search menu
- [ ] when search result is empty you exit nakamori instead ending in search menu

[2019-04-30 05:57] bigretromike opened #314 "idea: cut one query without flating directory"
each time you enter directory/series/group/filter you: `version`, `status`, `ping` and `proper query` this results in same data being send (except random picture) when you using default non-flat directory setting.

Could we somehow rebuild structure from that data, or could we just force cache for that setting?
I understand that first 3 are a must and are (should be) fast and light, but the 4th is

[2019-04-30 05:59] da3dsoul commented on #314
It's already optimized. It only gets the children when building the directory. Yes, it'll be less wasted data in APIv3

[2019-04-30 06:19] bigretromike opened #315 "ask shoko about information for series you dont have"
ideally by `aid`

[2019-04-30 06:56] bigretromike commented on #214
Leia is already on third release (18.0, .1, .2) so its time to close this one.

[2019-04-30 06:56] #214 closed

[2019-04-30 07:02] bigretromike commented on #293
Looks like Team-Kodi stoped building python3 builds.
From what I remembered they accounced that v19 (Matrix) will have python3 build - but for a reason there is still non p3 builds od v19.

We had a good record with python3 compatibility across last python3 buillds, so I close this and will open v19 p3 issue when that will be a thing - without PIL it was utter hard to test everything without comme

[2019-04-30 07:02] #293 closed

[2019-04-30 07:03] bigretromike commented on #232
We done with this one ? i remember asking about this and that time it wasn't a thing.
now after rewrite as the dev version ain't my main version I cannot test this enough to mark is a closed without feedback from you @da3dsoul

[2019-04-30 07:10] bigretromike commented on #302
I saw you moved clear search to settings - just after I re-added it back but end up reverting so less clutter in there.

With one exception (gif PoC setting in menu) is there anything you want to do with settings ? @da3dsoul

[2019-04-30 07:27] da3dsoul commented on #302
How many times do I need to tell you that clear search and remove are in the context menu where they should be

[2019-04-30 07:28] da3dsoul commented on #232
I think it's taken care of

[2019-04-30 07:28] #232 closed

[2019-04-30 07:41] bigretromike commented on #302
If you didn't notice, I said I noticed it. yet, you still didn't answer my question 🔢

[2019-04-30 07:42] da3dsoul commented on #302
Did I miss a question? Oh the latest one? Yes there's a lot that I want to do with settings, but I'm busy with APIv3

[2019-04-30 07:50] bigretromike commented on #302
I'm asking because I would like to push and release stable version, but I won't force it if there is still something you want to do before.

[2019-04-30 07:50] da3dsoul commented on #302
Nah I'd say we're good for the moment

[2019-04-30 07:53] bigretromike commented on #302
I will wait a bit then, few days and will repo stable repo so it will be the way I want it to be. Maybe you will find time while I will be doing that, or maybe I will try to fix the search issue (exiting, backing to main menu).

But as there is still work to be done on settings, im leaving this open

[2019-04-30 08:05] da3dsoul commented on #302
We're good, as in go for it. There are no issues that are imminent. Etc

[2019-04-30 08:18] bigretromike commented on #302
the search crash things annoys me as hell, I will fast fix it before releasing

[2019-05-12 17:39] bigretromike opened #316 "Issues in 3.1.0"
- [x] vote for series broken
- [x] vote for episode broken
- [x] inspect file, esc, error
- [x] repo plugin missing news
- [x] moving mouse/keyboard close Information with: `CGUIWindowManager::HandleAction - ignoring action 107, because topmost modal dialog closing animation is running` (old: scrolling 'whats new' close it)
- [x] search 'empty results' exit to Addons (because ActiveWindow)
- [x] '

[2019-05-12 19:45] bigretromike commented on #306
Waiting for approval: https://github.com/xbmc/xbmc/pull/16087
Until then this is really hard (or by somekind of funky/hacky workaround)

[2019-05-12 19:46] bigretromike commented on #301
looks like most if not all been fixed, anything that should be fix should be posted in proper #316

[2019-05-12 19:46] #301 closed

[2019-05-12 19:47] bigretromike commented on #308
it give a proper data - it miss when python miss info. For now its ok.

[2019-05-12 19:47] #308 closed

[2019-05-13 07:55] bigretromike commented on #316
**values in view are mixed up for some series**
![mix_value](https://user-images.githubusercontent.com/6052025/57604772-4d449e00-7565-11e9-819b-529ca13e632b.png)

[2019-05-13 07:57] da3dsoul commented on #316
Hahahahaha WTF

[2019-05-13 07:58] da3dsoul commented on #316
Actually, I know exactly why that happened

[2019-05-13 07:58] da3dsoul commented on #316
The duration isn't valid for those files

[2019-05-13 08:11] bigretromike commented on #316
Shoko, return `duration=0` for those files, because its an subtitle item, next files in `files` is proper mkv file.

[2019-05-13 09:15] da3dsoul commented on #316
Files without video shouldn't be listed. If it's just a matter of it picking the wrong stream to pull info from, then that's another issue, but either way it needs fixed.

[2019-05-13 10:35] bigretromike commented on #316
@da3dsoul I manage to fix all of them with exception of that search black magic you manage to do. Any chance you can fix that in few days? I would like to push 3.2.0 with those fixes and proper change-log

[2019-05-13 13:50] bigretromike commented on #316
Subtitles should be included with episode file, you should pass those to external player if you wish to watch your anime with subtitles that ain't included in video file.

[2019-05-15 10:28] bigretromike commented on #316
@da3dsoul I fixed all the issue I found while playing with stable, anything you would like to add before pushing 3.2.0 ?

[2019-05-15 11:14] da3dsoul commented on #316
Nah

[2019-05-15 11:35] #316 closed

[2019-05-15 12:16] #302 closed

[2019-05-15 12:18] bigretromike commented on #292
It was a really great journey with this Issue. Best one of them all.
You did awesome work but know, the issue need to be closed.
Goodbye AWESOME Issue Ticket.

[2019-05-15 12:18] #292 closed

[2019-05-15 12:19] bigretromike commented on #297
Hahaha... The irony

[2019-05-15 12:19] #297 closed

[2019-05-15 12:21] bigretromike commented on #306
I'm still waiting for them to review my patch, I will announce this feature as part of 3.3.0 maybe we will have working sync between both.

@da3dsoul you said about some DB hacks, still got them ?

Im moving this to 3.3.0;

[2019-05-15 12:28] bigretromike commented on #313
TIFF format could be a next thing, it support frames/series of images and is lossless that only one bake for both seiyuu and character option.
Still the issue with space is relevant.

[2019-05-15 12:37] bigretromike opened #318 "Add Search results to cache"
- [x] profile time if marginal don't do it
- [x] option to enable this only visible when cache is on
- [x] ability to set expiration (in days) for search cache

[2019-05-16 07:46] bigretromike opened #319 "Finish: Series Voting after completing it"
Time to finish this option

[2019-05-16 07:50] bigretromike opened #320 "Finish: Trakt voting"
Time to finish this option

I'm probably blind but I cannot find Trakt related settings in Nakamori Settings anymore... Need to check that out.

[2019-05-16 08:19] bigretromike commented on #295
- [ ] settings are missing from settings window even when present in xml.

[2019-05-16 09:02] bigretromike commented on #318
Looks like I could have been drunk, its already in cache.
btw. on VPN with 3000 series `All` loads in 17s , while from cache it takes 7 sec.

[2019-05-16 09:02] #318 closed

[2019-05-16 16:11] da3dsoul commented on #318
That time is purely network and deserialization. There's not much you can do once you have a local cache

[2019-05-17 11:56] bigretromike opened #321 "Calendar source option: shoko vs external"
- [ ] option to switch source (so it will work in both modes (dir vs window)
- [ ] make external source for calendar as script (or lib?)

[2019-05-17 11:57] bigretromike opened #322 "Improve Calendar UI in WindowXML mode"
I still don't like how it looks.
Any suggestion will be considered.

[2019-05-17 12:23] bigretromike opened #323 "Rearrange Settings"
I have no idea how long it will take to fix https://github.com/xbmc/xbmc/issues/15252 but it looks like some option as broken because you cannot set those from settings menu.

I can try and rearrange those so we don't have to use those 'hidden' values, example: moving Video Setting higher etc. or merging all 'trakt support' items in one category (so moving Play (No scrobble)) to same category for

[2019-05-17 12:40] bigretromike commented on #295
- [ ] lsep ignore visible condition https://github.com/xbmc/xbmc/issues/15061
Thats why Experimental functions and more advance one clutter settings.

[2019-05-17 18:16] da3dsoul commented on #321
It could be done as an extension, but as mentioned previously, any sources for calendar days should be in Shoko, not Nakamori

[2019-05-17 18:21] bigretromike commented on #321
not my fault that both anidb api for calendar and shoko way it get data sucks :-)
There are multiply calendars on web, maybe someone want to use other.
I asked numerouse times if plugin system is in work in shoko, so I could make this as an plugin to overwrite calendar behavior on server. Until then I can just take that out from `lib` and move to external solution so if anyone ever would like to u

[2019-05-17 18:24] da3dsoul commented on #321
When we get AniList going, then we'll have way more data for calendars, as they run AniChart, as well.

[2019-05-17 18:32] bigretromike commented on #321
So from what you wrote it looks that there is no point in adding external source calendar to shokoserver.

[2019-05-17 19:05] bigretromike commented on #323
@da3dsoul any opinion on this?

[2019-05-17 19:05] bigretromike commented on #322
@da3dsoul any suggestion or should I make it all PINK ?

[2019-05-17 19:15] da3dsoul commented on #322
IDK. If you want UI design, talk to  EC. He's pretty good at it.

[2019-05-17 20:34] bigretromike commented on #322
when did you put down the role of making designs? You were quite good with it. I wrote here, because I counted on you ;-)

[2019-05-17 20:46] da3dsoul commented on #322
I'm not really good at design itself. I'm good at pointing out flaws and suggestions for improvement. Calendars are also one of those things that I'm just not good at. If I were to design something, I'd probably just mash up ClientV2 and AniChart concepts

[2019-05-17 20:57] bigretromike commented on #322
![ac](https://user-images.githubusercontent.com/6052025/57955837-33a1ae80-78f7-11e9-8261-4933d11c6141.png)

[2019-05-17 20:58] da3dsoul commented on #322
Yeah, I really like AniChart. I'd do some things a bit different

[2019-05-17 20:59] bigretromike commented on #322
sadly anidb don't give so much description about series. also having the description that way make from 7 colums to 3 :-), I could see doing one WindowXML more so you can pick your Calendar style. But give me something to work on, if you don't want to make one. what would you change in anichart

[2019-05-17 21:02] bigretromike commented on #322
![abb](https://user-images.githubusercontent.com/6052025/57956022-d0fce280-78f7-11e9-8cad-113a2f30cd57.png)
![avb](https://user-images.githubusercontent.com/6052025/57956030-d5290000-78f7-11e9-9753-b872ceb27c55.png)

[2019-05-17 21:09] bigretromike commented on #322
or you more into this AC
![acc](https://user-images.githubusercontent.com/6052025/57956300-d3ac0780-78f8-11e9-8616-b33b24812349.png)

[2019-05-17 23:23] da3dsoul commented on #323
For one, scrobbling isn't a trakt thing explicitly. From nakamori, it should just tell Shoko where it's at, and Shoko should handle it.

I'm not sure how we'll clean up and make the settings as nice as I'd like them to be without that being fixed, other than building our own settings UI, which I'd prefer not to do.

[2019-05-17 23:25] da3dsoul commented on #322
The things I would change are what is shown on cards and whatnot, it'll need to be dynamic with fallbacks, as there will be info missing like you mentioned.

[2019-05-18 06:30] bigretromike commented on #323
Dead end?

On May 18, 2019 1:23:01 AM GMT+02:00, da3dsoul <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-05-18 06:45] da3dsoul commented on #323
No, I mean there's no point. Trakt should be handled by Shoko, so we can avoid needing to have settings for it

[2019-05-18 07:18] bigretromike commented on #323
Trakt is one of many missing settings you missing the point here

On May 18, 2019 8:45:13 AM GMT+02:00, da3dsoul <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-05-18 07:28] da3dsoul commented on #323
Fair, but that's the one you mentioned

[2019-05-20 09:11] bigretromike commented on #322
@da3dsoul which AC version you like the most? first with 3x3 or second 5x7-8

[2019-05-20 09:15] bigretromike commented on #322
Will do my friend, will do

[2019-05-20 11:44] bigretromike commented on #322
![111ac](https://user-images.githubusercontent.com/6052025/58019281-6caf6e00-7b05-11e9-8b77-acdf7f85dd26.png)

Hows that ?

[2019-05-20 11:52] bigretromike commented on #322
@da3dsoul the only issue it the size of the font - like it was before that why I got those PIL workaround for titles. For now I had to add custom fonts into default skin - which could end up in your delta skin with proper finishing of Label2 issue.

[2019-05-20 12:40] bigretromike commented on #322
Font.xml
[code]

[2019-05-20 12:41] bigretromike commented on #322
Or edited estaury!!! with fonts mod (latest Leia version)
[skin.estuary1.zip](https://github.com/bigretromike/nakamori/files/3197943/skin.estuary1.zip)

[2019-05-20 18:54] shibeobi12 opened #324 "External Player not marking as watched (Leia 18.1) (Naka 3.2.0)"
As title says, when I watch anything with Nakamori, it does not get marked as watched. I do, as of 3.2.0, get a message saying Nakamori failed to mark as watched. External player works with standard Kodi fare, just not Nakamori. I was recommended to post my playercorefactory.xml, so here's that as well. I can post whatever else is needed, just let me know.

![example](https://user-images.githubuse

[2019-05-20 18:56] Blackdixxa opened #325 "Nakamori is not working in docker"
I'm actually on a Manjaro 18.0.4 with a simple kodi install.

`sudo pacman -s kodi`

When I'm trying to connect to my shoko on docker I have this issue.
![shoko_error](https://user-images.githubusercontent.com/10331553/58044638-8b7f2600-7b40-11e9-95e3-3ba0b4e998bf.png)

To create my docker I've used docker-compose,
you need to create a docker-compose.yml file and use this command where the file is

[2019-05-20 18:59] da3dsoul commented on #322
The biggest issues I see there are the poster squishing instead of cropping and the titles being cut off

[2019-05-20 19:02] bigretromike commented on #325
the Docker host is on Alpine Linux

[2019-05-20 19:02] Blackdixxa commented on #325
Yeah Alpine Linux 4.19.41-0-virt

[2019-05-20 19:13] bigretromike commented on #322
posters are issue from anidb - I use same, so if they dont have it Nakamori don't have it. same goes to shoko. nothing much I can do about it. the title yeah, thats no issue.

[2019-05-20 19:13] da3dsoul commented on #322
I'm referring to squished posters, not missing ones

[2019-05-20 19:15] bigretromike commented on #325
Standard or Extended Installer?

[2019-05-20 19:16] Blackdixxa commented on #325
standard

[2019-05-20 19:16] bigretromike commented on #322
And I'm referring those too.
If there is a Poster Anidb use it if not they use something wider than taller. Not much I can do about it.

[2019-05-20 19:17] bigretromike commented on #322
@da3dsoul 29-06-2019
https://anidb.net/perl-bin/animedb.pl?show=calendar&do=schedule&last.anime.week=26&last.anime.year=2019

same images. same dimensions

[2019-05-20 19:19] Blackdixxa commented on #325
I've tried the nakamori script addon in kodi > addons > programs > installation integrity
and received a nice
![Screenshot_20190520_211918](https://user-images.githubusercontent.com/10331553/58046218-f894ba80-7b44-11e9-957d-82582099b8d1.png)

[2019-05-20 19:20] da3dsoul commented on #322
Crop it. If we don't have pillow, then I can make an endpointb with cropping

[2019-05-20 19:23] bigretromike commented on #322
even with external source image ?
even if not sure.

to make it work with PILLOW it would be downloaded to temp and with new layout its not needed, also how you crop it when you dont detect face/title.

Go for it anyway I just move it ahead to have non hentai content there hehe

[2019-05-20 19:23] bigretromike commented on #322
Also which solution you prefer for font, injecting into used skin ? or with delta skin updated ? (for both k17 and k18 version ?)

[2019-05-20 19:26] bigretromike commented on #325
those looks like a translation strings, probably conversion from WIN to LINUX, you can ignore any strings.po errors.

[2019-05-20 19:27] da3dsoul commented on #322
You'll want to use APIv3 later. I'll handle what info is filtered (no hentai on non-hentai users).
You handle how it gets displayed. I can rewrite the API code in Nakamori when it gets there, just keep in mind that some things will be organized differently and we may have better info.

[2019-05-20 19:27] da3dsoul commented on #322
I prefer that we don't require a specific skin.

[2019-05-20 19:28] bigretromike commented on #322
so we inject in any skin the font we want to use;
any recommendation for font that support jp ?

[2019-05-20 19:30] da3dsoul commented on #322
I have no clue. Roboto is a nice free font, but no clue

[2019-05-20 19:33] bigretromike commented on #322
yeah, roboto was first I wanted to use but it didn't work for some reason, but I fix that but went with arial. Ok. I will make few ajustments with font, injection, make long title cut in good place, and description will have scroll that will work (maybe), but most of those from shoko are missing description and the number of episode that will be aired

[2019-05-20 19:34] bigretromike commented on #322
Any buttons you want to have on those 'series boxes' ? like on AC? or we leave info about airing date on the bottom part ? I just put that to see if its on right height.

[2019-05-20 19:39] da3dsoul commented on #322
We'll have buttons be context menus, as there's not much we can do, other than possibly show related series and/or more info

[2019-05-21 04:53] bigretromike commented on #322
I see a lot of options: releated, info, add to wishlist, send to ... (pick anything like pushbullet etc), enter series (when something on calendar is already in your collection), cast, hide series from calendar (if needed for any reason)

[2019-05-21 09:44] bigretromike commented on #324
I got a fix for this, will be pushing in few minutes.
Also yes, its a bug in Kodi18 after someone clean up code (this time it wasn't @da3dsoul 👍 )

Also the loop changed and there was also issue from our end.

[2019-05-21 09:45] bigretromike commented on #295
- [ ] getTime() used with ExternalPlayer don't return `1.0` when hitting watch mark https://github.com/xbmc/xbmc/issues/16183

[2019-05-21 09:51] bigretromike commented on #324
Please update on dev channel and open issue if its not resolved - only have on mind that `playcountminimumtime` is ignored for now its your normal % to mark is as watched divine by half (to mitigate fastforwarding) it should be allways anything below 50% so you should be fine.

[2019-05-21 09:51] #324 closed

[2019-05-21 10:23] bigretromike commented on #325
did you Isolate containers with a user namespace ?

[2019-05-21 10:46] bigretromike commented on #325
With using only WEBUI Wizard everything throw `INTERNAL ERROR 500`

[2019-05-21 10:49] bigretromike commented on #325
OK, I have same issue. I can access webui (with tons or errors but it looks like the init worked) and now can't enter nakamori.

[2019-05-21 10:53] bigretromike commented on #325
@da3dsoul
[code]
This is the error from docker

[2019-05-21 10:57] da3dsoul opened #326 "You removed the dev repo"
It's nice to have if I want people to be able to test something

[2019-05-21 11:15] #325 closed

[2019-05-21 11:20] bigretromike commented on #326
ah yes, it happened when I switch script to build repo with that build <news replace> thing.
Will readd then soon.

[2019-05-21 11:45] bigretromike commented on #325
@da3dsoul as point out I shouldn't fix it this way, so until he fix docker for you here is the modification you need to do to one file to make it work for you.

I would suggest doing this on stable because each dev update will with your modification (and its more frequent than stable updates)

https://github.com/bigretromike/nakamori.lib/commit/f19746512f5f7c21541e85de326f9b86abf6bc62#diff-8de7793

[2019-05-21 12:43] bigretromike commented on #326
Should be back in stable repo.

[2019-05-21 12:43] #326 closed

[2019-05-22 05:28] bigretromike commented on #322
Issue with injecting custom size/font is when you are using default skin, because that one is installed not in your addons but in base directory, so you would have A) force user to use copy of default skin (with tweaks already in it, while updating it from time to time and checking for compatibility issues - ex. k17 this skin version, k18 that version) B) generate descriptions as image and while c

[2019-05-22 05:37] da3dsoul commented on #322
We can probably read the current skin from settings, then determine the location and patch it in to whatever skin is needed

[2019-05-22 05:43] bigretromike commented on #322
I will short it for you:
- any installed in addons skin = compatible
- default skin is in kodi directory and not addon folder = not compatible (need manual or script from outside kodi)

[2019-05-22 05:45] da3dsoul commented on #322
Ah, I see. You won't have write access. We can detect that and make a patched copy....

[2019-05-22 05:46] da3dsoul commented on #322
This is quickly becoming not in the scope of Nakamori. I would probably make this a separate add-on and see if they'll accept it in the main repo

[2019-05-22 05:49] bigretromike commented on #322
any addon that modify any other addon (or skin) is forbidden.
I will see how long it take to generate those description and if the time will be too long or the results not pleasing I will go with B) our skin with tweaks for k17 it would be easy because you set minimal python version in addon.xml so k17 wouldn't install k18 skin. and for k18 someone will have to get latest version from stable k18 e

[2019-05-22 06:45] bigretromike commented on #322
![acv2](https://user-images.githubusercontent.com/6052025/58152880-f8440e80-7c6d-11e9-81de-6d9251e5da7b.png)
@da3dsoul

[2019-05-22 06:51] da3dsoul commented on #322
Nice

[2019-05-22 07:10] bigretromike commented on #322
I'm happy that you like it. there still a lot of cleaning and I would like to have a popup window when you click on any element of series item, with detail information (for now it could be full description) and button that would be also as a right click option.

Any idea how it should look like ?

[2019-05-22 07:12] da3dsoul commented on #322
Maybe look at the extendinfo window. It's super nice

[2019-05-22 07:18] bigretromike commented on #322
hahaha, did you think why I waste extra time to make it work with nakamori ?:-) hahahha

But back on the topic, its nice, but its plain. Will shoko download cast for anime in calendar ?( would be awesome but I doubt)
I could make it work with extendinfo script but I doubt that all shows on calendar will have it info on the site it take info from

![extra](https://user-images.githubusercontent.com/

[2019-05-22 07:24] bigretromike commented on #322
The best would be info if given series is in your collection, if so all info about it (latest watched episode, how many local episode you got) so you check check with calendar how far behind you are :-), how many episode there is for given series

[2019-05-22 07:31] da3dsoul commented on #322
It can try. If it's a season 2 or something, it can fall back on cast for that

[2019-05-22 07:42] bigretromike commented on #322
In ideal work calendar series should be stored so when you get episode for it you update info about series, while having big flexibility with showing new releases/calendar - also its not like each episode you create series just link to it.
If you want calendar to work with extendedinfo we need 3rd party ids (like id's from other sites, that info is available on anidb but only for series entries no

[2019-05-22 08:05] da3dsoul commented on #322
No we have that. No worries 😊

[2019-05-22 08:19] bigretromike commented on #322
If so Im making that window then

[2019-05-22 08:46] da3dsoul opened #327 "Can you update this in the repo?"
I added a Japanese font to the NotoSans default. I also fixed some placement issues.
EDIT: I'll reup in a bit. There's a problem it seems.

[2019-05-22 08:53] bigretromike commented on #327
next time, update version, thanks

[2019-05-22 08:54] da3dsoul commented on #327
Oh. Hang on

[2019-05-22 08:55] bigretromike commented on #327
`Thumbs.db` I see you

[2019-05-22 08:55] bigretromike commented on #327
I updated version, is it the same ?

[2019-05-22 08:55] bigretromike commented on #327
this one is bigger

[2019-05-22 08:56] da3dsoul commented on #327
Different zip layout, though slightly. There was an error in that one.

[2019-05-22 08:56] da3dsoul commented on #327
Wrong settings in Winrar or something

[2019-05-22 08:56] bigretromike commented on #327
updating

[2019-05-22 08:58] da3dsoul commented on #327
You'll like this.
![scr](https://i.imgur.com/gVYT0zL.jpg)

[2019-05-22 08:58] da3dsoul commented on #327
BTW fabulous OST

[2019-05-22 08:59] bigretromike commented on #327
I would like it if you included my fix (if you didnt already for that label2 issue)

also updated;
will wait for dev to update (1 minut) and will force stable after

[2019-05-22 09:00] da3dsoul commented on #327
Which one? I can add it in and reup

[2019-05-22 09:03] bigretromike commented on #327
https://github.com/phil65/skin.estuary/pull/255/commits/abdf48e9976f2aa0b782867cc52400ba9a206a9a

[2019-05-22 09:05] bigretromike commented on #327
remove thumb.db and .gitignore and bump version

[2019-05-22 09:06] da3dsoul commented on #327
Doing it already haha
[skin.estuary_delta.zip](https://github.com/bigretromike/nakamori/files/3206574/skin.estuary_delta.zip)

[2019-05-22 09:06] da3dsoul commented on #327
kk. Should be good now.

[2019-05-22 09:07] da3dsoul commented on #327
But yeah, now if someone wants to use the japanese (kanji) title, Kodi can show it without a custom (looking) skin.

[2019-05-22 09:09] bigretromike commented on #327
what about this ?

[Migu.zip](https://github.com/bigretromike/nakamori/files/3206580/Migu.zip)

[2019-05-22 09:09] da3dsoul commented on #327
Dunno. I used Yu Mincho Demibold

[2019-05-22 09:10] da3dsoul commented on #327
Merged it with NotoSans

[2019-05-22 09:10] bigretromike commented on #327
If you did it once, could you just add this as another font option ? :-)

[2019-05-22 09:13] da3dsoul commented on #327
I could. Adding a font isn't hard. That font is 3MB, though. Is it really nice enough to warrant it? I added a screenie above of the current one.

[2019-05-22 09:18] bigretromike commented on #327
just add it. its not RAM its just a Disk space.

[2019-05-22 09:19] bigretromike commented on #327
compare screen also would be nice 👍

[2019-05-22 09:22] bigretromike commented on #327
While I have you here any suggestion what I can do to overcome this
[code]

[2019-05-22 09:24] da3dsoul commented on #327
You hard code the string. That's the only option for now.

[2019-05-22 09:26] bigretromike commented on #327
nope

[2019-05-22 09:28] bigretromike commented on #327
I wanted to be cool and reuse v2.Series to get series info and make ListItem, as last resort I can just do what v2 does and make it by hand with all the serialization.
I tried moving imprort to the top, then I tried to make puf in that module but it throws that nakamoriplugin cannot be imported.

[2019-05-22 09:52] da3dsoul commented on #327
It's because you can't init puf without a handle, which only plugins have. You can hardcode the URL string to get around it

[2019-05-22 09:52] da3dsoul commented on #327
I'm working on that font. It isn't the right size, so I'm resizing it to match the English ones

[2019-05-22 09:54] bigretromike commented on #327
strange because injector didnt have to do that
I hardcoded in in the v2 file for now, and will probably push it to dev when i finish with this window, i will tag you so you can look and it and figure wtf.

[2019-05-22 10:16] da3dsoul commented on #327
Noto-Migu
![migu](https://i.imgur.com/oQUUg5g.jpg)
Noto-Yu Mincho
![yu mincho](https://i.imgur.com/gVYT0zL.jpg)

[2019-05-22 10:16] da3dsoul commented on #327
[skin.estuary_delta.zip](https://github.com/bigretromike/nakamori/files/3206896/skin.estuary_delta.zip)

[2019-05-22 10:48] bigretromike commented on #327
both repos updated with same version.
Imo as nice looking as Mincho is Migu is more readable for me

[2019-05-22 10:48] #327 closed

[2019-05-22 11:43] bigretromike commented on #322
Base:
![extrainfo-view](https://user-images.githubusercontent.com/6052025/58171978-8bde0500-7c97-11e9-9617-fe145254d7cf.png)

Ours:
![naka-extrainfo-view](https://user-images.githubusercontent.com/6052025/58171989-91d3e600-7c97-11e9-918f-cafbaf89d0e9.png)

[2019-05-22 12:38] bigretromike commented on #322
@da3dsoul how can I migrate servershoko settings to daily version? because it throw error with old config ?:-) did not one think of it ?

[2019-05-22 12:44] bigretromike commented on #322
wiped and added mysql/anidb creds
nvm.

Will migrate rest of settings if needed

[2019-05-22 16:34] bigretromike opened #328 "Random crashes in script.module.routing"
For no reason from time to time I get this error - its some time now that this is happening.
Only solution I found is to restart Kodi and the issue resolve itself for longer time.
Any ideas ?

[code]

[2019-05-22 17:40] bigretromike opened #329 "Clean install requires kodi restart to make wizard working"
Reported Baine @ Discord:

[code]

[2019-05-22 17:41] bigretromike commented on #329
@da3dsoul you played with this, any ideas?

The only thing that came up to my mind is that when you start it first time maybe the settings ain't saved and then it try to on-fly-settings ?

[2019-05-22 17:42] bigretromike opened #330 "Can't play videos on dev-channel"
Baine @ discord
[code]

[2019-05-22 18:39] bigretromike commented on #330
I added proper header `api-version`: 1.0 when asking for file, sadly it throw 500 in my face (probably shoko bug)

[2019-05-23 05:47] bigretromike commented on #330
@Blackdixxa @shibeobi12 could any of you check dev-version ?

[2019-05-23 05:51] Blackdixxa commented on #330
I've just tried before going to work and it's not working.

[2019-05-23 05:52] bigretromike commented on #330
Thanks for super fast feedback, I will clean reinstall it because it worked 5minuts ago.

[2019-05-23 05:54] bigretromike commented on #330
after clean reinstall it still works for me.
addon 3.2.0
lib 3.3.0~beta6
script 3.3.0~beta2
player 3.2.0
service 3.1.0

[2019-05-23 06:48] bigretromike commented on #329
not allways

[2019-05-23 08:42] bigretromike commented on #330
I fix this on shokoserver, wait till Cazzar update docker or download updated server by hand;

[2019-05-23 08:42] #330 closed

[2019-05-23 08:59] bigretromike opened #331 "Issues in 3.3.0 ~ beta"
- [ ] entering EpisodeType/Episode results in missing `Sort by` on left menu, `Sort by: Date` is shown but the sorting from setting are preserved (I think) - this option was always available and if deleting it was intent then removing it add confusion with `Sort by: Date`
- [ ] When file stop playing (by stop or by end) all watchstatus icons changes to thumbnails.

[2019-05-23 09:28] Andy2244 opened #332 "Login/connection fails."
For me, Nakamori is unable to login/connect anymore to the server. I tried the default and dev repo and uninstalled/reinstalled the addon+scrips several times. The windows client + webui works with the exact same host/port and "Default" login settings, only Nakamori fails to connect.

[code]

The manual test script by da3dsoul seems to connect fine:
[code]

[2019-05-23 09:34] bigretromike commented on #332
Any chance you could post versions of nakamori you are trying:
- addon
- script
- lib

[2019-05-23 09:37] bigretromike commented on #332
Also try if its same if you restart Kodi after installing Nakamori

[2019-05-23 09:41] Andy2244 commented on #332
Yes i have to use the :daily shoko docker container, since i get a mono crash otherwise and yes i did restart Kodi/PC several times after making changes.

Here is what is currently installed:
[addons.zip](https://github.com/bigretromike/nakamori/files/3211390/addons.zip)

[2019-05-23 10:05] bigretromike commented on #332
You not using latest version of nakamori-lib, script

[2019-05-23 10:06] bigretromike commented on #332
Go into addons > the Box on top menu > and from left menu pick 'check for Updates'

[2019-05-23 10:08] Andy2244 commented on #332
I did this already, this is what you get from the Dev repo currently.

[2019-05-23 10:09] Andy2244 commented on #332
I can try manually install from github.

[2019-05-23 10:09] bigretromike commented on #332
I did the same and it pick up those from dev-repo, so maybe clean cache and temporary storage in /userdata/ folder for kodi.
Kodi likes to do that,

[2019-05-23 10:18] Andy2244 commented on #332
No change, deleted `kodi/cache` and `Kodi\userdata\addon_data\plugin.video.nakamori`.

[2019-05-23 10:19] bigretromike commented on #332
`kodi\addons\packages\`
`\kodi\addons\temp\`

[2019-05-23 10:21] bigretromike commented on #332
If that fail, install those components manually

[2019-05-23 10:35] Andy2244 commented on #332
ok i deleted all nakamori related folders under `AppData\Roaming\Kodi\addons` than build from the master branch and then installed/unziped all zips in `/build/` into `AppData\Roaming\Kodi\addons`, yet still get the same error.
[addons.zip](https://github.com/bigretromike/nakamori/files/3211679/addons.zip)

[2019-05-23 10:45] bigretromike commented on #332
Can you download this: https://codeload.github.com/bigretromike/nakamori.lib/zip/master and replace your nakamori-lib content with this ?

[2019-05-23 10:46] bigretromike commented on #332
I added one more error/spam handler that should tell something more about origin of the issue

[2019-05-23 10:47] da3dsoul commented on #332
Make sure that server is updated

[2019-05-23 10:47] bigretromike commented on #332
3.9.4.149

[2019-05-23 10:48] bigretromike commented on #332
mine is 3.9.4.165 - from today

[2019-05-23 10:49] bigretromike commented on #332
Looks like he is missing: https://github.com/ShokoAnime/ShokoServer/commit/0d2f05b77352f596dc30cd41f89accceab8bf502

[2019-05-23 10:50] bigretromike commented on #332
Please update shokoserver

[2019-05-23 10:50] bigretromike commented on #332
Its issue with `TagFilter=0`

[2019-05-23 10:52] bigretromike commented on #332
Docker is 8 days old, try with newest version and if problem persist reopen

[2019-05-23 10:52] #332 closed

[2019-05-23 11:02] Andy2244 commented on #332
ok updated to 3.9.4.165 and now dev works and stable + "update check" for the beta2-6 updates.

Thanks

[2019-05-23 11:05] Andy2244 commented on #332
Seems something is not working in my `pyouroboros/ouroboros` container, which should take care of updates. I think it fails if i sleep the host and wont catch-up if it missed the update interval.

[2019-05-23 11:12] bigretromike commented on #332
looks that an issue or function request here: https://github.com/pyouroboros/ouroboros/issues :-) 👍

[2019-05-24 10:49] bigretromike opened #333 "Making some error nice to eye"
for example, when you are not connected in `main()` loop you:
`raise RuntimeError(plugin_localize(30155)) `

But pop up ugly confusing shit.
![error](https://user-images.githubusercontent.com/6052025/58322805-54e82a80-7e22-11e9-911f-3312ccbbcaa8.png)

[2019-05-24 10:55] #321 closed

[2019-05-24 11:12] da3dsoul commented on #333
This could one of two issues. Either I fucked up with my parameters to eh.exception, or the resources don't translate that into something useable.

[2019-05-24 11:28] bigretromike commented on #333
I hope that you will look into it in near future, because I wouldn't want to go back to previous ancient error handling method.

[2019-05-25 21:26] bigretromike commented on #320
I cannot find it because its hidden thanks to a bug, but its still there working

[2019-05-25 21:27] bigretromike commented on #320
@da3dsoul care to take this ?

[2019-05-25 21:30] da3dsoul commented on #320
I'm putting it off a bit longer to fix in server

[2019-05-27 07:40] bigretromike commented on #320
fix it in server or just fix server?

[2019-05-27 07:43] da3dsoul commented on #320
Fix it in server. Server itself isn't  broken beyond the major design flaws that we are slowly working on. There's definitely some bugs here and there with ASP.NET, but it should work for the most part

[2019-05-27 07:46] bigretromike commented on #320
ok, if its broken in server then Im not doing this today.
thanks for info.

[2019-05-27 09:46] bigretromike commented on #319
https://github.com/bigretromike/nakamori.player/commit/9d35f72151a32ac66fe91163845b582ab154a665

I hope it fix it but with shoko so broken I can't test it

[2019-05-27 09:46] #319 closed

[2019-05-27 10:10] bigretromike opened #334 "Watch marks dissapears from Series when navigating Filter"
Step-by-step:
- enter 'ALL'
- Remember which series are marked as watched
- Enter any series
- Navigate to '..' or go back (backspace)
- The Series that was marked as watch are missing icon the indicate being watched

To refresh you need to '..' from Filter and enter it again.

[2019-05-27 10:15] da3dsoul commented on #334
That sounds like a Kodi big, since that is cached by Kodi when you back into a filter

[2019-05-27 10:17] bigretromike commented on #334
Please no... in this rate I will move to mpv...

[2019-05-27 10:31] da3dsoul commented on #334
I know how to fix it, but it'll increase your load time in All

[2019-05-27 10:32] bigretromike commented on #334
is this fix or workaround ? because I almost made issue 👍

[2019-05-27 10:36] bigretromike commented on #334
It's not only in 'All' also seasons and its only affect 'Watched flag'

[2019-05-27 10:36] da3dsoul commented on #334
Workaround. You disable directory caching

[2019-05-27 10:37] bigretromike commented on #334
I did? So its strange it affects only 1 type of flag. Pushing ?

[2019-05-27 10:40] bigretromike commented on #315
Added in v2;

[2019-05-27 10:40] #315 closed

[2019-05-27 10:41] da3dsoul commented on #334
The workaround is to disable caching. It hasn't been done yet. That was prolly a language barrier issue.

[2019-05-27 10:42] bigretromike opened #335 "Enable colorization in search when enabled"
There is option to disable (overall).
It should be consistence it works everywhere or nowhere.

[2019-05-27 10:43] bigretromike commented on #334
more like a mental shortcut issue.

[2019-05-27 10:54] bigretromike commented on #295
- [ ] 'watched_flag' not being saved in Kodi cache when browsing thru Filters/Series: https://github.com/xbmc/xbmc/issues/16206

[2019-05-27 15:17] bigretromike opened #336 "Average rating for series rating"
Show what is the average rating from episodes to make your decision easier.

[2019-05-27 19:52] da3dsoul commented on #336
APIv3

[2019-05-27 19:53] bigretromike commented on #336
Not realy,  im doing this now. Please fix shoko stream end. Its anoying like hell to not being able to skip

On May 27, 2019 9:52:13 PM GMT+02:00, da3dsoul <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-05-27 19:55] da3dsoul commented on #336
How are you doing this now? There's no API for ratings from different sources, except in APIv3.
Also, yes I'll try to get to it today, but I'm busy, so I might not. I have work stuff

[2019-05-27 19:58] bigretromike commented on #336
Based of episodes rating

On May 27, 2019 9:55:18 PM GMT+02:00, da3dsoul <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-05-27 20:35] da3dsoul commented on #336
I would avoid using that, but it's still an interesting metric that we could look into

[2019-05-28 05:52] bigretromike commented on #336
Added;

[2019-05-28 05:52] #336 closed

[2019-05-28 06:58] bigretromike commented on #334
This does not affect `Search` yet, disabling cache don't resolve issue in `ALL` - it looks more and more that's not Kodi fault.

[2019-05-28 07:00] #335 closed

[2019-05-28 07:41] bigretromike commented on #334
My bad, disabling does resolve it - so it is a Kodi bug after all.

[2019-05-28 08:06] bigretromike commented on #334
@da3dsoul looks like it could be our issue
I wanted to create the smallest possible example of the issue.
I used my previouse code from pull request, and while using `cachetodisk` the issue is not present.
[plugin.video.14573.zip](https://github.com/bigretromike/nakamori/files/3226237/plugin.video.14573.zip)

[2019-05-28 08:30] bigretromike commented on #334
Updated version I set watch icon as we do currently.
It could be something with your ListItem custom object. not sure.
I don't have time to snip your code to check whats wrong - also Im unable post this with my current xbmc issue because this prove that nothing wrong there.

[plugin.video.14573_2.zip](https://github.com/bigretromike/nakamori/files/3226326/plugin.video.14573_2.zip)

[2019-05-28 08:34] da3dsoul commented on #334
I can verify that it doesn't happen on Kodi 17, with or without cache, so regardless, it is Kodi's fault. Kodi is supposed to take extended classes so that you can extend functionality and subscribe to ListItem back end stuff. If that's what causes the issue, then okay, but still not our fault, per say.

[2019-05-28 08:35] da3dsoul commented on #334
I'm starting a new job in a few hours, so I've no time to help with this for at least a day.

[2019-05-28 08:38] bigretromike commented on #334
Thanks for the info.

I'm hopping when you have time you can make example that show the issue, because I don't want to do offline nakamori version just to show this bug.

[2019-05-28 08:39] da3dsoul commented on #334
IKR

[2019-05-28 08:39] bigretromike commented on #334
Have a good day at new work

[2019-05-28 08:39] da3dsoul commented on #334
You should update the Kodi issue with what we've seen and say we'll keep looking at it and keep them posted.

[2019-05-28 08:51] bigretromike commented on #334
While I was writing the update for issue I added your custom ListItem, still no issue. Trying to add DirectoryListing() but now its fails without error ;-)

[2019-05-28 09:17] bigretromike commented on #334
Version with copy of DirectoryListing() but not using it because it don't show anything.
Just in case...
[plugin.video.14573_v3.zip](https://github.com/bigretromike/nakamori/files/3226619/plugin.video.14573_v3.zip)

[2019-05-28 10:40] bigretromike commented on #295
- [ ] JSON-RPC API v9 Files.GetFileDetails not supporting plugin:// https://github.com/xbmc/xbmc/issues/15897

[2019-06-04 06:17] bigretromike opened #337 "Big issue with rewrite code"
Current issue is this:
- when you play file and stop it you have 3 outcomes:
1) the same listitem show up from where you start file
2) the listitem from database show up (with thumbnails and sometimes changed order/titles)**
3) empty listitem show up (probably want to query database but end up terminating)
** sometimes you get list `no2` and `Container.Refresh` refresh it and reload the `no1`

Ano

[2019-06-04 06:29] bigretromike commented on #337
Maybe you have idea where the issue could be, and no we not disabling `cache`.
Maybe I did break it in somepoint maybe it was broken from the start.
This need to be fixed.

[2019-06-04 06:30] bigretromike commented on #337
Ok, what I understand the json is almost empty because he play `file` instead of populating `ListItem` and passing it to player.

[2019-06-04 07:16] bigretromike commented on #337
[code]

Those look interesting:
**2019-06-04 08:49:07.324 T:8860   DEBUG: CSettingsManager: requested setting (context_show_info) was not found.
2019-06-04 08:49:07.324 T:8860   DEBUG: CSettingsManager: requested setting (show_refresh) was not found.**
**2019-06-04 08:49:07.354 T:13648   DEBUG: Saving fileitems [plugin://plugin.video.nakamori/menu/series/1952/type/Episode]**

[2019-06-04 07:36] bigretromike commented on #337
If you dont believe me:
This is how `ListItem` looks when you enter series:
![good](https://user-images.githubusercontent.com/6052025/58860326-27b23c80-86ac-11e9-8cf2-9738e998fd1e.png)

And this is how it looks when you get cached results after watching episode:
![bad](https://user-images.githubusercontent.com/6052025/58860263-09e4d780-86ac-11e9-8dd4-6d22d79ae1a8.png)

[2019-06-04 08:55] bigretromike commented on #337
Netflix can live with `if elif else`: https://github.com/asciidisco/plugin.video.netflix/blob/master/resources/lib/Navigation.py#L93
But its just for reference - for now.

[2019-06-04 10:14] da3dsoul commented on #337
I don't know what you're talking about. Please explain what exactly the situation is. I can tell you that I have no issues even kind of what you are describing with cache disabled, so it's probably somewhere in the cache system.

[2019-06-04 10:14] da3dsoul commented on #337
I'm not saying to disable cache, but that helps say where the issue might be in the code

[2019-06-04 12:30] bigretromike commented on #337
Im hoping you are checking on k18.2 because anything lower is consider legacy.
Where can I disable cache ? because from code I see that only Filters have enabled cache, and the issue is inside series.

[2019-06-04 12:33] bigretromike commented on #337
Also just check this:
- start kodi (latest, greatest)
- navigate to any series, start any episode
- query json-rpc or use webinterface.devhelper if you have issue doing it (or you any other tool to send and read json)
[code]
- stop playing file
- start playing same file
- query same json
- compare results
-

[2019-06-04 12:36] bigretromike commented on #337
You latest version of all modules - im unable to push them right now.
So we are one same page;

[2019-06-04 12:42] bigretromike commented on #337
I simplify core (without overwrite objects), without DirectoryListing() etc.
Results are mixed: the issue with different list of items looks like its gone (but can't be sure), but the json-rpc databased cached response is present.

Butchered version with revert fancy core code: (for reference if I need it at home)
[X.zip](https://github.com/bigretromike/nakamori/files/3252383/X.zip)

[2019-06-04 12:51] da3dsoul commented on #337
.... Are you using the library metadata agent or the plugin? By cache, I thought you mean the database cache in Nakamori, not the directory cache in Kodi. I still don't really know which you are referring to. I'm on 17.6 still, and it works there. I've not tried it in 18 in a while.

[2019-06-04 12:52] da3dsoul commented on #337
I don't know how json-rpc is relevant

[2019-06-04 12:53] bigretromike commented on #337
I'm using plugin ( but the issue is in both because how the metadata agent works for plugin source).
By cache it looks like its most database for kodi (or internal cache)

[2019-06-04 12:54] bigretromike commented on #337
json-rpc is VERY relevant.
Just check few post before this one I made you STEP-BY-STEP guide how to see the bug.

[2019-06-04 12:57] da3dsoul commented on #337
Wait, I think I know what you are talking about. I'll see if I can reproduce the one I'm thinking of and screenie it

[2019-06-04 14:47] bigretromike commented on #337
Im monitoring email but have limited time, will jump into if I see your respons

On June 4, 2019 2:57:02 PM GMT+02:00, da3dsoul <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-06-04 19:15] bigretromike commented on #337
@da3dsoul how is the reproducing issue coming a long ?

[2019-06-04 19:16] da3dsoul commented on #337
It's not. I'm in bed doing not that

[2019-06-05 07:44] bigretromike commented on #337
Bad code:
[code]
2019-06-05 09:35:23.920 T:3968  NOTICE: Nakamori|nakamori_player::player_loop#L167 -> Playback Ended - Shutting Down: 0
2019-06-05 09:35:25.037 T:8616  NOTICE: ~~~ ~~ ~ ~~ --- >  path: /arbiter/10/Container.Refresh,  rule: /arbiter/{arg}
2019-06-05 09:35:25.783 T:14236  NOTICE: ~~~ ~~ ~ ~~ --- >  path: /menu/series/1952/type/Episode,  rule: /menu/series/{series_id}/type/{episode_t

[2019-06-05 08:22] bigretromike commented on #337
Sadly my theory is bad, you just named those things `del` (what were you thinking) overloading builtin function to make something totally different from them ?! - nvm

By disabling `Container.Refresh` in player after stopping episode I'm unable to access that "fake ListItem list" but it still response json-rpc with bad data.

I'm not sure if it can be related to `arbiter`... because even if its re

[2019-06-05 08:26] bigretromike commented on #337
Now the theory of terminated building list is more possible:
- depending on when I stop playing file I get few or more items on that 'fake' List.

Also after adding some extra log (NOTICE) points I see:
[code]

[2019-06-05 08:27] da3dsoul commented on #337
I didn't name them del, overriding built in. When you make a __del__ method, then it is run when the object is disposed.

[2019-06-05 08:28] da3dsoul commented on #337
If you don't understand a concept that I use, you should look it up before assuming that it was wrong.

[2019-06-05 08:30] da3dsoul commented on #337
A possible cause that I don't think is the case but is possible: Kodi 18 doesn't dispose the objects with the new python recycling system

[2019-06-05 08:31] da3dsoul commented on #337
Now I'm going back to sleep. Night night

[2019-06-05 08:50] bigretromike commented on #337
![video](https://user-images.githubusercontent.com/6052025/58943302-bcd23580-877f-11e9-9e94-1b4a1c2aa9d9.gif)

@da3dsoul sorry for quality

[2019-06-05 08:57] bigretromike commented on #337
you wrote `__del__` function and call `del object` in few places.

[2019-06-05 12:55] bigretromike commented on #337
Currently I found out that the data that is saved in database is data from InfoVideoTag:
https://forum.kodi.tv/showthread.php?tid=344481&pid=2859212#pid2859212

If I will be able to populate InfoVideoTag the 90% of the issue will be gone;

[2019-06-05 13:33] da3dsoul commented on #337
Considering that it works in 17.6, I would report the info in better English, with lots of screenshots. It's clearly just a quirk at the least, bug at the most. It'll need documented with the proper way to handle it, either way. I might be able to later, but no promises.

[2019-06-05 13:54] bigretromike commented on #337
From my experience you need a "working plugin example" of the issue;
Even if you provide it its not guarantee that any one will pick up;
If you fix it yourself there is always something else better to be done;
If you make an issue there are slime chance than anything will be done - especially if this is 'intended way'
I will try to fix it also. There is to many small issues that make me tick in Ko

[2019-06-05 13:56] da3dsoul commented on #337
I'll mock up a proper extraction of my fancy ListItem stuff

[2019-06-05 13:57] bigretromike commented on #337
Now? or in unknown future ?

[2019-06-05 14:02] da3dsoul commented on #337
Later...

[2019-06-05 14:06] bigretromike commented on #337
Im curious how you want to setInfoTag when there is clearly no function to do that directly.
Because I don't think that InfoLabel is the same thing;

[2019-06-05 14:08] bigretromike commented on #337
nvm, got it;

[2019-06-05 14:33] bigretromike commented on #337
Also if you think this is the Leia fault please make a issue while using proper English, and link it here. Thank you.

[2019-06-05 16:39] da3dsoul commented on #337
Will do. I know you aren't active on discord much. I just started a new job and wrecked on a scooter, so I've been "busy". Sometimes busy doing something, sometimes busy doing nothing. Both are valid considering. I'm okay, but yeah, I'm not pushing myself intentionally

[2019-06-05 16:56] bigretromike commented on #337
I try to be active there but in the end its the same stuff; Glad you ok;
I know you started job;
I know you dont like it;
I just want to enjoy anime like I used to do, and I dont like when something is pissing me like this is.
Imo, its not gonna be easier :-) thats what life is, struggling with time.

[2019-06-05 17:06] bigretromike commented on #337
This shit took me fuck tones of time...
But it looks like its fix in master (kodi):
https://github.com/xbmc/xbmc/commit/f5b5419e9bf281ceaf698c632316305930eb6130

But if there is a way to make it work in Leia...
Still waiting for the extractor you said ealier - but probably you already did it - but maybe it's not what you describe before.

[2019-06-05 17:08] bigretromike commented on #337
Im not sure, because right now the json-rpc return proper data, but I cannot play any file... probably something broke matrix.

[2019-06-06 05:11] bigretromike commented on #295
- [ ] JSON-RPC API Player.GetItem + getInfoVideoTag() bug (PR kodi18.x) https://github.com/xbmc/xbmc/pull/16192

[2019-06-06 11:47] bigretromike commented on #337
Currently I found out that the data that is saved in database is data from InfoVideoTag:
https://forum.kodi.tv/showthread.php?tid=344481&pid=2859212#pid2859212

If I will be able to populate InfoVideoTag the 90% of the issue will be gone;

Ok this is KODI BUG....

[2019-06-11 12:42] #322 closed

[2019-08-02 19:27] bigretromike opened #338 "Logic loop with first instalation"
When installing nakamori for first time it requires `service`,
while `service` when installed (before `plugin`) will try to import `globalvars`
which does `plugin_addon = xbmcaddon.Addon('plugin.video.nakamori')`

Ending with `Error` while installing nakamori for first time.

Everything install and works fine, but the error could be confusing.

[2019-08-02 20:33] Dexil123 opened #339 "Playback failed"
Sometimes I get a pop-up message when playing a video.
![playback-failed-kodi-error](https://user-images.githubusercontent.com/32413969/62396991-dc65be80-b574-11e9-8c65-1cb805b267d3.png)

The video starts but the message takes the focus. After clicking OK it stops the video. And usually no error message is shown after playing the same again.
[kodi.log](https://github.com/bigretromike/nakamori/file

[2019-08-02 21:01] bigretromike commented on #339
Which version are you using?

[2019-08-02 21:02] Dexil123 commented on #339
3.3

[2019-08-02 21:21] bigretromike commented on #339
I know that this issue could occur when the timeout is set to low in settings and shoko server don't response quickly enough.
I will look into it, any more info is welcomed

[2019-08-02 21:45] Dexil123 commented on #339
The timeout setting under "Video settings"?
I just tried changing query timeout to 600 (was 60) same error occurred.
Also tried to change Max time to wait for buffer to 10000. But that also didn't work.

The weird thing is. It does play the video just fine.

After messing with it a bit I think I figured it out. It has to do with Kodi settings.
If under Settings > Media > Videos > Default select ac

[2019-08-02 21:49] bigretromike commented on #339
That could be it !
I will try to do the opposite and try to fix that because I remember that we had this issue before - but maybe something got lost while it was rewriten

[2019-08-07 07:57] bigretromike opened #340 "Matrix v19 - Enhancements"
- [x] Settings now use: Standard / Advanced / Expert modes - we can hide excessive settings, Yay
- [x] Python3
- [x] New Setting Style: https://forum.kodi.tv/showthread.php?tid=350135

[2019-08-07 10:25] bigretromike opened #342 "Eigakan support (Part2)"
- [x] add context menu to control it
- [x] direct play
- [x] add context menu to schedule transcode
- [x] populate info for eigakan content
- [x] ~~custom~~ window to pick settings [ lang / sub ]
- [x] pick lang/sub - make it automatic
- [x] generate unique id for profile support
- [x] ~~custom~~ window with eigakan wizard via ~~api~~ multicast
~~- [ ] overwrite Player with Duration~~ _that would

[2019-08-07 15:15] bigretromike opened #343 "Error to fix later"
- [x] search 'hack roots' on bb
[code]

[2019-08-08 11:59] bigretromike commented on #343
- [ ] invalid literal for int() with base 10: ''
[code]

[2019-08-08 12:11] #343 closed

[2019-08-08 12:16] bigretromike commented on #331
issue with thumbnails is bigger and deeper, for some reason when exiting player kodi sometimes use cached version of those episodes;
I'm closing this because I need to reevaluate them in both 18.3 and 19.0pre

[2019-08-08 12:16] #331 closed

[2019-08-09 20:28] bigretromike commented on #339
@Dexil123 I did some work...
I did not test this heavily but I did not get that error even once after some work.

The update is on dev-channel, if you could test it those are the components (in case you want to update manually):
- plugin 3.4.0~beta2
- script 3.4.0~beta2
- lib 3.4.0~beta4
- player 3.4.0~beta4

[2019-08-09 20:36] bigretromike opened #344 "Plugin issues in 18.x"
- [x] it takes 5sec to move to "next unwatched" episode.

[2019-08-09 20:36] bigretromike opened #345 "Plugin issues in 19.x"

[2019-08-10 17:25] bigretromike opened #346 "Small things that need a tweak"
List of small things that make my blood boil:
- [x] ~~`move_position`~~ `refresh` should be on hold until vote is made if that option is turn on
- [x] post after stopping throw error 500? (probably shoko api is broken) `HTTP Error 500: Internal Server Error -- Exception: HTTPError at ./script.module.nakamori-lib/lib/proxy/python_version_proxy.py::Python2Proxy::post_data#L201`
- [x] move `inputstre

[2019-08-10 21:04] bigretromike opened #347 "Plugin issues is 17.x"
- [x] when finish watching kuro the rating was seen on menu, when jojo only duration - also search `kuroko` season 1 is duration season 2 is rating (because sort by date/episode) - one is flatten the other not.
- [x] on video end: Unable to select item
- [x] on video end: Internal HTTP Error 500
- [x] on video end, and vote after, not moving_to_next
- [x] empty list on video end, and vote after

[2019-08-11 07:15] bigretromike opened #348 "Relationship menu"
Added as a top-dir structure - with ability to disable
or by right click (less visible) then open dir structure.
that way user can see if he want to watch something that has prequel to it..

Need to check if API can provide that information

[2019-08-11 09:58] Dexil123 commented on #339
I still get it once I set it "Show information".
Tried it on my laptop and coreelec.

[2019-08-11 10:12] bigretromike commented on #339
could you enable debug log, try to make it happen and post that debug log here ?
hope you checking with dev versions 3.4.0~beta

[2019-08-11 10:37] Dexil123 commented on #339
[kodi - kopie (2).log](https://github.com/bigretromike/nakamori/files/3489866/kodi.-.kopie.2.log)

[2019-08-11 11:44] bigretromike commented on #339
Ok, I think I can capture this even often than before...
I'm looking into this right now.

[2019-08-11 13:40] bigretromike commented on #339
For reference this is the code that throw this error (PlayListPlayer.cpp)
[code]
It would trigger every 5 execution, no matter what file would you use.

Solution would be use of
[code]
[code]

[2019-08-11 13:41] bigretromike commented on #339
Could you report back @Dexil123 because I cannot reproduce the issue with this setting

[2019-08-11 13:53] bigretromike commented on #339
I would guess that using 'Show Information' and 'Play' trigger different route which include PlayList to be involved.

[2019-08-11 14:24] bigretromike commented on #339
Looks like a Kodi bug from 17.6, for reference: https://github.com/xbmc/xbmc/issues/16481

[2019-08-11 14:25] bigretromike commented on #295
- [ ] 'Show information' -> 'Play' throw error each ~5times you play something https://github.com/xbmc/xbmc/issues/16481

[2019-08-11 19:44] anxdpanic commented on #339
iirc this can occur when using `xbmc.Player().play() ` when `xbmcplugin.setResolvedUrl()` is expected.

Changing https://github.com/bigretromike/nakamori.player/blob/e00d56634aa1251ca931346bab761a6df152097f/lib/nakamori_player.py#L157-L160
to something like;
[code]
might resolve the issue. I haven't deep dived the code and am unable to test myself, so I'm sorry if this is just noise.

[2019-08-11 21:09] da3dsoul commented on #339
We can't use setResolvedUrl, as that forces the built in Kodi player with no callbacks. We need the callbacks for scrobbling and stuff.

[2019-08-11 21:32] anxdpanic commented on #339
setResolvedUrl just starts playback, callbacks are still usable. I do this in a few add-ons.

[2019-08-12 05:06] bigretromike commented on #339
@anxdpanic thanks for the tip, I will test it - I stopped using `setResolvedUrl` at beginning of development because most of the time I would end up wi `Unable to play` errors.

Looks like it a good reason to check this out.

@anxdpanic any reason why we should check for handle to be `-1` ? I would understand that the handle will be `-1` aka missing only when scripts are involved, right ? or is it

[2019-08-12 05:57] bigretromike commented on #339
I implemented your suggestion. It also end up with:
[code]

Also its looks like that using `setResolvedUrl` also cache somehow results (resolving result?) so if it fail even once then it will be always failing (in this case). And Im getting even less proper plays that by using `.play` for some reason - which is opposite from what I have read about `setResolvedUrl`. Also Im checking this against 19

[2019-08-12 07:04] bigretromike commented on #339
The issue with `setResolvedURL` is that by using `handle = int(sys.argv[1])` and using that handle it gives me `WARNING: Attempt to use invalid handle ` thats why it ends not working (probably), while using `.play` does not have that issue.

[2019-08-12 07:31] bigretromike commented on #339
[code]
This code would break `setResolvedUrl`
With setResolvedUrl it looks a bit better while playing, I will investigate more and throw out hacks like those ;-) it hard to debug anything

[2019-08-12 09:12] bigretromike commented on #339
@anxdpanic while heavily tested, looks like your workaround did helped, also it resolved few others issues and I like the way it works. thank you very much!

[2019-08-12 09:29] bigretromike commented on #339
@Dexil123 test with minimum 3.4.0~beta10; if the issue persist please re-open;

[2019-08-12 09:29] #339 closed

[2019-08-12 14:47] anxdpanic commented on #339
Happy to hear it helped. 👍

The `handle == -1` check is partly a safe case, and should ensure that `Player().play()` is only used when executed via script/non-playable list items.

I don't believe this is a bug in core, and is more about the context in which `Player().play()` is called.  `Player().play()` being intended for scripts, and `setResolvedUrl` intended for add-ons.

[2019-08-12 16:29] bigretromike commented on #339
@anxdpanic with current structure its hard to tell where addon ends and where scripts start. Im still thinking that there is a bug in core.
With almost 100% success I would trigger this bug with every 5th run of same file, and the internal values would looked funky, and using `advancesetting` file would post-pone the issue a lot.

Imo, I was never fun of many hacks that were needed to make somethi

[2019-08-12 16:57] anxdpanic commented on #339
It was the issue on xbmc/xbmc, I've seen similar issues in a couple add-ons so I thought to bring it to your attention.

I'm not sure how it's implemented in core(no C++ knowledge), my best guess would be that `Playback failed` likely happens because `setResolvedUrl` seems to be an equivalent to an `endOfDirectory` signal for playable list items, as well as starting playback. So when using `Player

[2019-08-12 17:34] bigretromike commented on #339
You see yourself, if it would fail everytime with `play` there wouldn't be a problem... but it works most of the time. I tried to debug that in c++ and for the first look it would looks like its a bug in core, but who knows. Also each plugin is different, for example the issue I had with `setResolvedUrl` came from fact that we moved to `plugin.routing` and to make `play` work we would delete root

[2019-08-13 12:53] bigretromike opened #349 "FavoriteList aka Bookmarks aka FakeGroups"
In old times there was something called 'bookmarks' in jmmdesktop
Something along side: Group/Filter with custom added series.

Like Favorite you add Favorite

- [x] check if it can be done via api

[2019-08-13 17:23] bigretromike commented on #342
was worth every minute

[2019-08-13 17:23] #342 closed

[2019-08-13 17:25] #346 closed

[2019-08-13 20:03] bigretromike commented on #347
log, 10s wait, vote on end

[code]

[2019-08-14 08:40] bigretromike commented on #347
~beta16

[2019-08-14 08:40] #347 closed

[2019-08-14 08:40] #344 closed

[2019-08-14 08:41] #345 closed

[2019-08-14 10:50] bigretromike commented on #349
beta17.

[2019-08-14 10:50] #349 closed

[2019-08-14 11:07] bigretromike commented on #276
Closing this.

[2019-08-14 11:07] #276 closed

[2019-08-14 11:15] bigretromike commented on #300
If nakamori get THAT big that we will be needing this, it will be here waiting.
Been long enough to close this for now.

[2019-08-14 11:15] #300 closed

[2019-08-14 11:26] bigretromike commented on #304
https://github.com/WoLpH/kodi-protobuf have been abandon for 3 years now.
While upstream https://github.com/protocolbuffers/protobuf is very active.
Its not even ported to v18, not even saying v19py3.

As much I would love to dive into new technology, the time to port this by ourself to kodi and implement it in Shoko is not worth the 'speed' which is for now a speculation/theory.

This can be reop

[2019-08-14 11:26] #304 closed

[2019-08-14 11:28] bigretromike commented on #328
I don't remember the last time this did happened.
Closing, if this will be triggered again I will open new issue with logs from latest kodi/nakamori/routing version.

[2019-08-14 11:28] #328 closed

[2019-08-14 11:29] bigretromike commented on #329
the only issue with clean installation for now is service dependency.
Closing this, as service issue clock this problem or this problem is non-existing anymore.

[2019-08-14 11:29] #329 closed

[2019-08-14 11:43] bigretromike commented on #303
ok, it was a PoC almost half a year ago.
Concept was run service with sqlite in memory and listen to socket/udp, get and set data was via that udp/socket.

It worked as a PoC.

If you ever need it, it will be here - our by that time maybe other solution will be available.

[2019-08-14 11:43] #303 closed

[2019-08-14 11:45] bigretromike commented on #313
It was a fun gimmick, but no real solution came up from this.
I'm closing this and will be cleaning code from this in near future.

[2019-08-14 11:45] #313 closed

[2019-08-14 18:19] bigretromike commented on #236
testing in progress...

[2019-08-14 18:19] #236 closed

[2019-08-15 18:40] #338 closed

[2019-08-15 20:06] bigretromike opened #350 "New Search issue"
Enter Search
New Search
enter_name
(it auto go in search directory)
enter any series
go back one level
(it ask you about name to search)

[2019-08-16 05:06] bigretromike opened #351 "idea: Play Next overlay"
Two options:
1) external
- Use `upnext` (https://github.com/im85288/service.upnext) to show next episode, and nothing when there is missing episode
2) internal
- Write simple transparent window which would show next episode or show next related series or show next season or show information you are missing next episode (if you don't use colorize title and you miss fact the numbers don't add up). I

[2019-08-16 05:15] bigretromike commented on #320
I'm not even sure if we have Trakt users anymore :-)
Also it would be trivial if this ever worked on shoko server to sync all previous ratings with Trakt when needed.

[2019-08-16 05:15] #320 closed

[2019-08-16 08:21] bigretromike commented on #350
Ok, now it works similar but better.
Search > New Search > [keyboard] > Group > Series
Series > Group > [keyboard] >Search > Search

You can now browse Series for given query, instead of reentering it.

This still need some tweaks...

[2019-08-16 08:22] #350 closed

[2019-08-16 10:06] bigretromike commented on #334
I was hoping that this would be fixed.
I'm starting to doubt in that and that its and Kodi issue because I enabled cache all over others Objects and I never was able to reproduce this issue anywhere but `Filter`

Until you find the time to fix it, or user being impact by slower loading times of `Filters` I'm disabling cache for `Filters`.

[2019-08-16 10:06] #334 closed

[2019-08-18 15:12] bigretromike opened #352 "Calendar not displaying images of preloaded months"
- https://forum.kodi.tv/showthread.php?tid=346398

Waiting till resolved

If no solution will be found I could always download images to 'plugin/cache' and use those local paths - if this is not and Kodi limitation.

[2019-08-18 16:58] da3dsoul opened #353 "Please check the sorting before upping the version"
Nakamori auto updated, and Favorites and Recently Added Series/Episodes are at the top. "All" should always be the first item.

[2019-08-18 20:42] bigretromike commented on #353
Nope. Favorite should be, then Recent then All. Use settings to disable both if you want All be on top.

On August 18, 2019 6:58:02 PM GMT+02:00, da3dsoul <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-08-19 07:51] bigretromike commented on #353
Favorite will always be on top (if enabled) to access favorite aka most important series
Recently Added (v2 if enabled) will be next because some want to watch the file they just added, this will be deleted when Shoko will fix its own api until then its on top
then there are filters
calendars/settings - if enabled
and ALWAYS search will be last to quick access (aka arrow up on main menu)

[2019-08-19 07:51] #353 closed

[2019-08-19 07:55] bigretromike opened #354 "Disabled cache for Filters"
- [ ] https://github.com/xbmc/xbmc/issues/16206

Until this is fixed somehow, filters when cached wont carry mark_flag anymore.
Then again querying 30mb each time I enter `ALL` is stupid.

[2019-08-19 09:01] bigretromike commented on #352
Missing documentation and deprecated function.

[2019-08-19 09:01] #352 closed

[2019-08-20 19:59] bigretromike opened #355 "Small things that need a tweak (part2)"
- [x] adding bookmark/favorite could used a notification (maybe without option)
- [x] quick search, not working
- [x] try to fix search (back) issue asking for keyboard
- [x] after watching video `select` is move twice (very rare)
- [x] ac_calendar (see log)
- ~~[ ] try to add party_mode (add all episodes with the one clicked to playlist - check if vote need to be disabled)~~ moved out: https://gi

[2019-08-20 20:08] bigretromike commented on #355
[code]

[2019-08-20 20:11] bigretromike commented on #355
extra move_down
[code]

[2019-08-21 20:42] bigretromike commented on #355
[code]

[2019-08-21 20:47] bigretromike commented on #355
[code]

[2019-08-22 08:58] bigretromike opened #356 "idea: "Party Mode""
- [x] use real playlist
- [x] disable rating after each episode if the option is enabled
- [ ] refresh list only on playlist stop

This is for people that want to play series and enjoy as much episodes that they can without needing to `enter` next episode (or with remote control, wait for it to reconnect, then wait for double click lag, and then hit play) - probably not many but still, one upon a

[2019-08-22 09:28] bigretromike commented on #351
`Party mode` https://github.com/bigretromike/nakamori/issues/356

[2019-08-22 09:28] #351 closed

[2019-08-22 11:44] #355 closed

[2019-08-24 22:04] bigretromike opened #357 "Fix before stable 3.4.0"
- [x] double refresh context menu (episodes)

[2019-08-25 11:04] #357 closed

[2019-08-29 18:12] bigretromike opened #358 "Issues in 3.4.0"
- [x] error when canceling on long shoko init
- [x] Search `sewayaki` enter, enter, go back and keyboard show up, (regression)
- [x] enter Search, right click on query, remove, and keyboard show up
- [x] enter Search, New Search, back - you have to double back to exit search
- [x] A-Z Search, decode :-) (`j`)
~~- [ ] when exiting kodi 17.6 it freeze, ~~~~service regression~~
- [x] 404 in loop

[2019-08-29 18:14] bigretromike commented on #358
Search sewayaki enter, enter back keyboard ??? Why

[2019-08-29 19:43] bigretromike commented on #358
17.6 exit frezee?

[2019-08-30 05:30] bigretromike commented on #358
freeze 17.6:
[code]

[2019-08-30 09:26] bigretromike commented on #358
I'm not sure if freeze is nakamori fault or not. Will test that out in few days.

[2019-08-30 12:53] bigretromike commented on #358
@da3dsoul could you confirm or denied freezes on ancient_kodi17.6 ?

[2019-08-30 19:46] da3dsoul commented on #358
Deny

[2019-08-31 21:13] bigretromike commented on #358
looks like the crash is something on my setup.

[2019-08-31 21:14] bigretromike commented on #358
log for 404
[code]

[2019-09-02 06:02] #358 closed

[2019-09-02 07:06] bigretromike commented on #256
I fix this is upstream, 18.4 and 19.0 have the fix.
I can die happy.

[2019-09-02 07:06] #256 closed

[2019-09-02 07:12] bigretromike commented on #306
As this is possible in 18. (will probably need to add that in notes), I don't think that sync will be possible before 19.0, so moving this to 19.x

[2019-09-03 18:26] bigretromike commented on #306
Once again I would like to thank you @AkariDN - your work was a game changer for me :-) thanks.

Also:
- [x] Update Library work fine
- [x] Sync Plugin flags with VideoLibrary flags

[2019-09-03 18:26] #306 closed

[2019-09-04 18:42] bigretromike opened #360 "remove `nakamoriplugin` import from v2"
Got it sort out, need just search -> copy -> add -> remove

[2019-09-04 18:59] bigretromike commented on #360
That was some ancient sorcery when you were `learning` this d3d.
Now its clean, and not more conflicts.

[2019-09-04 18:59] #360 closed

[2019-09-04 19:09] bigretromike commented on #323
Remove `syncwatched`, `sync_to_library` from plugin
- sync watched is deprecated because we have play/play_without_marking
- sync_to_library is not needed because the sync is on service side and I want to do something with that

- [ ] suncwatched
- [ ] sync_to_library

[2019-09-04 20:44] #356 closed

[2019-09-05 06:51] bigretromike commented on #314
It's not about how much data is send. Its about redundancy that is not necessary - in this place.
- [x] cache `series` data
- [x] expire cached data so refresh will refresh watch flags

[2019-09-05 06:51] #314 closed

[2019-09-05 10:02] bigretromike commented on #305
updated to reflect 3.4.0

[2019-09-06 05:01] bigretromike opened #361 "Issues in 3.5.0~beta"
- [x] missing unsort

[2019-09-06 11:41] bigretromike opened #362 "Customization for Main Menu items"
- [x] make filters bold (on/off)
- [x] make nakamori items color custom (on/off)
- [x] make nakamori items bold (on/off)

[2019-09-06 11:41] #362 closed

[2019-09-06 12:41] bigretromike commented on #333
Looks like this was fixed;
I just double check it;

[2019-09-06 12:41] #333 closed

[2019-09-07 15:50] bigretromike opened #363 "Rebuild every url/structure"
Need to rebuild every menu item url.
Because `..` is broken without that.

[2019-09-07 21:01] da3dsoul commented on #363
Just add a slash to the end of them

[2019-09-07 21:02] bigretromike commented on #363
not really

[2019-09-07 21:04] da3dsoul commented on #363
Oh I misunderstood what you meant with this

[2019-09-07 21:06] bigretromike opened #364 "Remove title colorization for movies"
Movies most of the time contains episodes like `complete movie` and/or `part x from y`.
For most parts user will download one (complete movie) or another (parts), so no matter which one it is, the color will be for series with missing episodes.

This could/should be fix in upstream - but hey...

[2019-09-07 21:06] #364 closed

[2019-09-07 21:09] bigretromike commented on #363
the solutions are one of those:
- 1. add parent folder to series url: `plugin/menu/filter/1/series/1`
- 2. overwrite parent folder location - unsure if even possible

I will be rewriting paths so they resemble path that was taken. but that's for tomorrow morning.

[2019-09-08 11:42] bigretromike commented on #363
affected: kore, webui

[2019-09-09 16:44] bigretromike opened #365 "kodi-plugin-routing new version"
@da3dsoul there been new version release
https://github.com/tamland/kodi-plugin-routing/releases

can we move to official once or do we have to do something ?

[2019-09-09 21:30] da3dsoul commented on #365
I need to split and redo my PRs to them, then most of my fixes will make it into the official release

[2019-09-10 05:29] bigretromike commented on #365
Yes please do. now its 0.2.3 vs your 0.2.4.

[2019-09-10 10:20] bigretromike opened #366 "Python3 compatible - once again"
Looks like 3.5.0 will be Python3 compatible;
I tested it against python3 kodi build (still without PIL), and it looks good

[2019-09-10 10:20] #366 closed

[2019-09-10 10:23] bigretromike commented on #365
I saw you rebase it, if PR wont be accepted any chance to rename or change version to something bigger so we don't end up having both with same name/version.

[2019-09-18 05:41] #363 closed

[2019-09-18 05:41] #361 closed

[2019-09-23 06:11] bigretromike opened #369 "Rating not being saved"
Not sure if nakamori or shoko
with vote after watching i been rating many episodes, few days later I notice most if not all episodes were missing userrating (from api)

[2019-09-23 07:11] bigretromike commented on #369
I have 35 rows in `anidb_vote`;

Also does shoko wipe your rating on clean import ?

[2019-09-23 07:12] bigretromike commented on #369
@da3dsoul

[2019-09-24 12:07] da3dsoul opened #370 "A lot of stuff needs reverted/changed"
I've been busy with life, so I'm not faulting you here, but some of the changes recently are just bad design, if they even work, as they might be causing serious issues behind the scenes.

First, the routes that I painstakenly put in after many hours of work. They'll need to be fixed. For this one, it's multiple issues, mostly on Kodi's side. We don't do weird hyphenated URLs.

Second,
[code]
is n

[2019-09-26 14:01] bigretromike commented on #370
I dont have time because I have more important stuff right now but, ( and in the end you wont understand what I will write ):
- evenrything is working fine
- those path need to be this way to work with Kore and webui, this is not a web API so don't force that
- slash at end is added because kodi add it when you add items to menus
- sure nesting is bad, that can be fixed
- I wont be around for some

[2019-09-26 14:33] da3dsoul commented on #370
Yeah, I plan to put some work in now that I'm bedridden. Like I said, I'm not faulting you. It's a learning experience. We just need to communicate so that we don't just get into stupid commit fights trying to figure out what things are trying to do and why they are written a certain way. I'll try to make it work with Kore. The way that I plan to do it will look stupid. I'll tell you that ahead of

[2019-09-26 14:33] da3dsoul commented on #370
Get ready for some narcotic fueled code haha

[2019-09-26 20:20] bigretromike commented on #370
kore/webui when you browse content and click ".." delete last path from url:
`/menu/group/2/filter/1` when clicked on `..` change it to `/menu/group/2/filter` which is invalid - that was main issue for webui/kore, it was not to play content but browse. ( I tried supporting more paths but that failed for some insance - like when you got use group, so you see series, go back, see error on tv, still

[2019-09-27 05:14] bigretromike commented on #370
I released last update before I'm going radio-silent (it will autobuild in few hours - once per day).
If there anything really big that you need to push to stable you know how to do that, no need to keep it in dev only.
Again, get well soon.

[2019-09-27 07:44] da3dsoul commented on #370
Interesting. Good to know

[2019-09-30 10:41] da3dsoul commented on #369
I don't think it does, but I can't say for sure

[2019-09-30 10:56] da3dsoul opened #372 "Routes need to be reworked"
It was mentioned in #370, but this clearly needs more discussion and thought.

- Routes need to basically mirror the folder structure for Kore (and probably other things) to work right. When it goes up a level, you just cut the last part of the URL off, and vice-versa when entering a folder. (edit: and we dont want double same folder when going one level up)
- They need to make sense.
- They need

[2019-10-28 08:00] bigretromike commented on #369
it does wipe it because it don't save them to anidb. so when you clean import database you don't have any source to import those ratings - and end up wiping them.

[2019-10-28 10:20] da3dsoul commented on #369
Just so we're clear, are you only referring to episode rating? We've never supported that. It just has half done code in some places.

[2019-10-28 15:51] da3dsoul commented on #372
@bigretromike is there a reason you nested the routes? Does it need to respond to both, or is it mainly accept the lack of parameters?
[code]
That is what I mean by nesting.

[2019-10-31 10:39] bigretromike commented on #372
When I nested something it was for supporting both that ends and don't ends with `/` because thats show kodi add `/` at end when you add item as part of main menu for kodi.

[2019-10-31 10:39] bigretromike commented on #369
yes, to episodes. it need to be in shoko sooner or later.

[2019-10-31 13:27] da3dsoul commented on #372
Okay, then it's no longer needed. Good to know. Routing "fixed" that.

[2020-01-12 19:02] da3dsoul opened #373 "Can you update the repo for Kod Plugin Routing"
I fixed a bug that apparently broke someone else's plugin....oops

[2020-01-13 13:36] bigretromike commented on #373
looks you already forgot how to do that.

and you did not update version number - how will it update when its same version ?:-)

[2020-01-13 13:38] bigretromike commented on #373
Why in master https://github.com/da3dsoul/kodi-plugin-routing/tree/7c40f79d51aad39fb195847a64de77c6c827f0d4 give 404 ?

[2020-01-13 13:50] da3dsoul commented on #373
I don't think you ever showed me but IDR. Anyway busy. Will check it later

[2020-01-13 15:48] da3dsoul commented on #373
You grabbed the wrong branch. The master branch is for PRing against tamland's. Development is for nakamori.

[2020-01-13 15:49] da3dsoul commented on #373
I updated the pointer, though idk if you wanted that pointed to your fork of my fork....

[2020-01-13 16:36] bigretromike commented on #373
your was fine, always.

So I recall you: you push to stable and once per day repo update itself, you push to master and once every hour dev repo update itself.

[2020-01-13 16:46] da3dsoul commented on #373
It is. It was 2.4 now 2.4.2

[2020-01-13 17:03] bigretromike commented on #373
can you link it to body build `master` and `stable` ?

[2020-01-13 17:38] da3dsoul commented on #373
What? I don't understand

[2020-01-13 18:10] bigretromike commented on #373
nevermind.
`stable` had old version, I updated it.

[2020-01-13 18:10] #373 closed

[2020-01-13 18:12] bigretromike commented on #370
Ok, I would like to get back on track. Were you able to readd my work already ? Or can I readd it in near future ?

[2020-01-13 18:15] bigretromike commented on #365
I think this is handle right now. But I would probably would like it to be fork anyway, currently there is no alternative to this plugin and I don't know how well it will get support. But lets see where we end up with it.
Closing because we already had issue with not changing names :-) twice.

[2020-01-13 18:15] #365 closed

[2020-01-27 06:25] bigretromike commented on #340
rpc-version: 11.1.1
https://github.com/xbmc/xbmc/pull/17202#issuecomment-578445232

[2020-03-23 07:19] bigretromike opened #374 "Suppress service error on first install"
There is a error when service run for first time after installation - its confusing, yet safe.
Need to suppress that or fix to order.

[2020-03-30 06:20] ElementalCrisis opened #375 "Shortcuts Do Not Work"
Every time I try to use a shortcut I created I get the following error. The content shows up on the main screen but if I try to click a series it errors out.

![image](https://user-images.githubusercontent.com/9443295/77881518-01015b80-7214-11ea-90d4-770e1339b31b.png)

[2020-03-30 07:38] kaigame commented on #375
This was fixed in a dev release, but I've had to switch back to stable due to changes in the dev version.

[2020-03-30 08:40] ElementalCrisis commented on #375
That's good to know, what changes made you revert back?

[2020-03-30 09:27] kaigame commented on #375
The dev release is currently broken, any large series doesn't load at all,
there was an announcement on discord.

On Mon, 30 Mar 2020, 09:40 ElementalCrisis, <notifications@github.com>
wrote:

[2020-03-30 20:09] ElementalCrisis commented on #375
Ah that's unfortunate. I'm sure @bigretromike and @da3dsoul will get it working in no time.

[2020-03-30 20:10] da3dsoul commented on #375
Nope.

[2020-04-02 05:46] bigretromike commented on #375
Yeah - its on my list.
Don't worry. its small issue with "/" at the end. I fixed it before I will fix it again.
No current eta, with all the COVID19 outbreaks here its hard to do stuff now :(

[2020-04-02 05:47] bigretromike commented on #375
Anyway thanks for posting !
I'm planing to redo some of my old code so it will be handle better (by me) 👍

[2020-04-02 23:54] ElementalCrisis commented on #375
No rush, Nakamori is still usable and that's really all that matters.

[2020-06-03 20:19] ArtexJay opened #376 "Error String or Buffer"
When  I try to use nalamori within Kodi, I get the following error:
 "expected string or buffer at /plugin.video.nakamori/nakamoriplugin.py#L662
This occurred 1 times."

[2020-06-03 20:57] da3dsoul commented on #376
In the Kodi log, it should have a bigger stack trace. Can you post that?

[2020-06-03 22:09] ArtexJay commented on #376
where, can i find that? I am pretty new to using kodi and shoko

[2020-06-03 22:12] da3dsoul commented on #376
Depends on what you're running Kodi on. In Windows, `%appdata%\\Kodi\\kodi.log`

[2020-06-03 22:56] ArtexJay commented on #376
[kodi.log](https://github.com/bigretromike/nakamori/files/4726593/kodi.log)

This is the one i found.

[2020-06-03 23:03] da3dsoul commented on #376
Says it's an auth error. The default user/pass is Default with a blank password.

[2020-06-03 23:17] ArtexJay commented on #376
I tried to re-authenticate within kodi but when i click the button it in the naknomi settings nothing appears. I saw it earlier to day and actually tried to do a clean reinstall of Kodi with Shoko but the field does not appear for me.

[2020-06-04 04:42] ArtexJay commented on #376
did a factory reset on the device, it was not trouble.

I have a theory that it might have gotten broken when i altered the account of shoko to include a password. By default it automatically recognizes the default account that shoko used.

[2020-06-05 19:35] #376 closed

[2020-08-11 15:19] Andy2244 opened #377 "Viewtype applied/saved per entry, not per list?"
If i change the viewtype inside a selection _(recently watched, unwatched, seasons)_ for a series/entry, it is only applied to this entry, not set as new default for all entries in the list or globally. It is also saved per entry, so every series/entry now gets it own viewtype, which makes it impossible/annoying to quickly change the view.

Is there a workaround to define the default viewtype for

[2020-08-11 15:20] da3dsoul commented on #377
Edit the skin

[2020-08-11 15:20] da3dsoul commented on #377
Sadly, that's the only way.

[2020-08-11 15:21] Andy2244 commented on #377
mhh ok

[2020-08-11 15:21] #377 closed

[2020-08-11 15:23] da3dsoul commented on #377
Because I'm so nice, and not at all because I've done it myself, here's an example. For estuary, moving these around changes the order. The default is the top https://github.com/phil65/skin.estuary/blob/3b37f5165a28b1c761609fd910a190976c1e6e89/xml/MyVideoNav.xml#L11

[2020-08-11 15:23] da3dsoul commented on #377
You can change this in the add-ons folder without compiling anything

[2020-08-11 15:36] Andy2244 commented on #377
Also works for Quartz, the order is in the `<views>50,51,52,53,54,55,500,501,502</views>` tag.

[2020-08-12 11:10] Andy2244 opened #378 "[enhancement] better watched detection for external players"
From what i can see nakamori directly marks a item as watched, if a external player closes, independent of the actual playtime or whatever was set in the settings.

Kodi has this "crutch" setting "playcountminimumtime" in playercorefactory.xml to prevent the most obvious faulty cases, where you just quickly open/close a item. If set to a medium value like 19min, works reasonably well, yet nakamori

[2020-08-14 06:27] bigretromike commented on #378
Hello, thanks for submit.

Nakamori handled this the way you describe. Sadly the function that I used for it is currently broken in Kodi.
Let me link the issue:
https://github.com/xbmc/xbmc/issues/16183

This used to work with 17.x

I will try to look into this and find other `hook` to support it.

[2020-08-24 05:01] bigretromike commented on #378
@Andy2244 could you write what Kodi version are you using ?

[2020-08-24 06:12] Andy2244 commented on #378
18.8

[2020-10-25 07:38] ElementalCrisis opened #379 "Install Repo Down?"
We've gotten a reports from users who are trying to install Nakamori and getting an error message regarding the repo being down.

Let us know if you need us to host it if hosting is the issue.

[2020-11-04 06:22] bigretromike commented on #379
nah, I was in middle of migration. which ended.
should be good. thanks for offering.

[2020-11-04 06:22] #379 closed

[2020-11-04 16:52] ElementalCrisis commented on #379
Awesome, glad to hear its back up!

[2020-11-05 06:10] bigretromike commented on #379
Don't worry. Thanks for issue. I could send notification that I will be down, but with the  Pandemic it's hard to organize.
Stay safe

[2020-11-05 10:18] ElementalCrisis commented on #379
You too!

[2021-01-27 09:35] ashmitsinghsaggu opened #380 "Unable to connect"
it is asking me to enter an shoko server ip address and port by default its 127.0.0.1
port 8.1.1.1. what should i do???

[2021-01-27 09:39] kaigame commented on #380
You do have Shoko Server installed right? Nakamori won't work on it's own, it's a frontend for the server portion

[2021-01-27 09:40] ashmitsinghsaggu commented on #380
how to install it? :(

[2021-01-27 09:40] ashmitsinghsaggu commented on #380
how to install it? :(

[2021-01-27 10:27] kaigame commented on #380
there is plenty of documentation on the website,

Go to the website: https://shokoanime.com/ and follow the instructions

[2021-01-27 14:03] da3dsoul commented on #380
He came on discord. Resolved as it can be.

[2021-01-27 14:03] #380 closed

[2021-02-26 22:55] ElementalCrisis opened #381 "Kodi 19"
Hey BRM, were getting asked about a Kodi 19 compatible version of Nakamori and was wondering if its in the works or if Nakamori will only work on Kodi 18 and below?

[2021-03-29 06:06] bigretromike commented on #381
yes. I just patched quick and dirty version for Kodi19.

I will try to have it up and running in few hours.

After that I will be redoing it so everything will work as it used to.

[2021-03-29 06:11] bigretromike commented on #381
@ElementalCrisis https://github.com/bigretromike/nakamori/releases/tag/3.6.0

[2021-03-29 06:15] bigretromike opened #382 "Navigation"
Navigation around menu

[2021-03-29 06:16] bigretromike opened #383 "Context Menu Navigation"
Every item in context menu

[2021-03-29 06:16] bigretromike opened #384 "Context Menu Items"
Check every context menu item if its working and needed

[2021-03-29 06:17] bigretromike opened #385 "Player related things"

[2021-03-29 06:17] bigretromike opened #386 "Searching"

[2021-03-29 06:18] bigretromike opened #387 "Bookmark/Favorite"

[2021-03-29 06:18] bigretromike opened #388 "Calendar"

[2021-03-29 06:18] bigretromike opened #389 "Settings"

[2021-03-29 06:19] bigretromike opened #390 "New APIv3 stuff"

[2021-03-29 06:20] bigretromike opened #391 "Mark as watched"
around k18 it was a bit funky

[2021-03-29 06:21] bigretromike opened #392 "Merge stuff"

[2021-03-29 06:21] bigretromike opened #393 "Update repo"

[2021-03-29 06:22] bigretromike opened #394 "Find good way to replace legacy things"

[2021-03-29 08:26] bigretromike opened #395 "Test units"

[2021-03-29 14:17] bigretromike opened #396 "Commands"
Action
[ ] ​/api​/v{version}​/Action​/RunImport
[ ] ​/api​/v{version}​/Action​/SyncHashes
[ ] ​/api​/v{version}​/Action​/SyncVotes
[ ] ​/api​/v{version}​/Action​/SyncTrakt
[ ] ​/api​/v{version}​/Action​/RemoveMissingFiles​/{removeFromMyList}
[ ] ​/api​/v{version}​/Action​/UpdateAllTvDBInfo
[ ] ​/api​/v{version}​/Action​/UpdateAllImages
[ ] ​/api​/v{version}​/Action​/UpdateAllMovieDBInfo
[ ] ​/api​

[2021-03-29 14:20] bigretromike opened #397 "New objects for APIv3"

[2021-03-31 16:03] ElementalCrisis commented on #381
Oh awesome, I'll give it a go later today!

[2021-04-03 08:23] bigretromike commented on #381
@ElementalCrisis
It will work with pre 4.0-shokoserver - that was what I have installed.
But I need some time to make it work with newest version.
Lots of things changes sice 3.9.x :-) but project is not dead

[2021-04-04 04:50] ElementalCrisis commented on #381
No worries, let me know once its works with the latest version of Shoko and I'll make a blog post about it. :)

[2021-06-30 22:58] #378 closed

[2021-07-01 18:03] bigretromike commented on #378
I'm still waiting for Kodi to fix issue. Sorry for that.

[2021-08-05 16:25] kusco123 commented on #381
Hello bigretromike - still working on this or to be considered dead?

[2021-08-08 12:06] bigretromike commented on #381
@kusco123 hello, yeah stilling working. probably because I'm putting more time into work. I'm thinking about it once a week.

Looks like I need to upgrade shoko server so I will finally have broken installation and bigger need to fix this.

In 2 weeks I will have paid vacations from work, so that will be a probably good idea to start digging into code.

[2021-08-08 15:44] kusco123 commented on #381
Cool - happy to see that it is still breathing :)

Cool - happy to see that it is still breathing :)

[2021-08-27 23:26] Kristijan1001 opened #398 "Nakamori 3.6.0 from DEV Repo has Broken "Related Series" Folders."
The newest version of the addon has broken the series that a grouped up with eachother. For example going into
Nakamori > A-Z All > Dragon Ball > Selecting a Dragon Ball Series does nothing, kodi does a quick please wait and nothing happens. So you are not able to view the episodes.

For single series it works fine, this only breaks the ones that are grouped each other. On the older version the gr

[2021-08-28 06:20] bigretromike commented on #398
Hello,
I'm in middle of work related to nakamori, but please provide ShokoServer version.

[2021-08-28 06:23] bigretromike commented on #398
Also please have on mind, that "DEV" repo was always intended to be broken before getting into stable.

[2021-08-28 06:26] bigretromike opened #399 "new API Endpoints"
[ ] 1.0
[ ] 2.0
[ ] 2.1
[ ] 3.0

source: http://localhost:8111/swagger/

[2021-08-28 06:27] bigretromike opened #400 "new Models from new API"
- [ ] 1.0
- [ ] 2.0
- [ ] 2.1
- [ ] 3.0

[2021-08-28 14:12] da3dsoul commented on #398
This came over from discord. He's tried 3.5.3 and the dev version. He's using the latest stable of shoko: 4 something... doesn't matter. It hasn't changed in a long time

[2021-08-28 17:00] bigretromike opened #401 "v3.action"
- [x] calls
- [ ] models

[2021-08-28 17:00] bigretromike opened #402 "v3.auth"
- [x] calls
- [x] models

[2021-08-28 17:00] bigretromike opened #403 "v3.dashboard"
- [x] calls
- [x] models

[2021-08-28 17:00] bigretromike opened #404 "v3.episode"
- [x] calls
- [x] models

[2021-08-28 17:01] bigretromike opened #405 "v3.file"
- [x] calls
- [x] models

[2021-08-28 17:01] bigretromike opened #406 "v3.filter"
- [x] calls
- [x] models

[2021-08-28 17:01] bigretromike opened #407 "v3.tree"
- [x] calls
- [x] models

[2021-08-28 17:01] bigretromike opened #408 "v3.folder"
- [x] calls
- [x] models

[2021-08-28 17:01] bigretromike opened #409 "v3.group"
- [ ] calls
- [ ] models

[2021-08-28 17:01] bigretromike opened #410 "v3.image"
- [x] calls
- [x] models

[2021-08-28 17:01] bigretromike opened #411 "v3.import folder"
- [x] calls
- [x] models

[2021-08-28 17:02] bigretromike opened #412 "v3.init"
- [x] calls
- [x] models

[2021-08-28 17:02] bigretromike opened #413 "v3.integrity_check"
- [x] calls
- [ ] models

[2021-08-28 17:02] bigretromike opened #414 "v3.plex"
- [ ] calls
- [ ] models

[2021-08-28 17:02] bigretromike opened #415 "v3.renamer"
- [ ] calls
- [ ] models

[2021-08-28 17:02] bigretromike opened #416 "v3.reverse_tree"
- [x] calls
- [x] models

[2021-08-28 17:02] bigretromike opened #417 "v3.series"
- [ ] calls
- [ ] models

[2021-08-28 17:02] bigretromike opened #418 "v3.settings"
- [x] calls
- [ ] models

[2021-08-28 17:03] bigretromike opened #419 "v3.users"
- [x] calls
- [x] models

[2021-08-28 17:06] #417 closed

[2021-08-28 17:07] #409 closed

[2021-08-28 17:14] #416 closed

[2021-08-28 17:15] #407 closed

[2021-08-28 17:28] #410 closed

[2021-08-28 18:01] bigretromike commented on #398
shoko latest stable would be 4.1.0, probably he is using grouping as you did before.
We are in middle fixing nakamori to work with currect shoko+kodi combo, should be a few weeks.
Thanks for the info

[2021-08-28 21:26] #404 closed

[2021-08-28 22:14] #406 closed

[2021-08-29 00:18] #405 closed

[2021-08-29 00:18] #408 closed

[2021-08-29 00:33] #411 closed

[2021-08-29 00:33] #412 closed

[2021-08-29 06:22] Kristijan1001 commented on #398
I am using the latest stable build 4.1.0. Thanks for the reply. Glad it is being worked on.

[2021-08-29 07:51] bigretromike commented on #398
@Kristijan1001 could i ask why you stick with kodi 17.9 ? is that media box or your preference ?

[2021-08-29 08:44] #402 closed

[2021-08-29 08:53] bigretromike commented on #401
models - probably not needed no message is return, only `http code 200`

[2021-08-29 08:53] #401 closed

[2021-08-29 10:29] #418 closed

[2021-08-29 10:29] #419 closed

[2021-08-29 10:29] #413 closed

[2021-08-29 12:30] #403 closed

[2021-08-29 12:30] bigretromike commented on #414
for now its not needed

[2021-08-29 12:31] bigretromike commented on #400
v3 - most of it, done

[2021-08-29 14:11] SteveMavic opened #420 "2.1-- source: http://localhost:8111/swagger/index.html?urls.primaryName=2.1"

[2021-08-29 14:22] SteveMavic opened #421 "api.v2.Auth"
- [x] Calls
- [x] Models

[2021-08-29 14:22] SteveMavic opened #422 "api.v2.Common"
- [x] Calls
- [x] Models

[2021-08-29 14:23] SteveMavic opened #423 "api.v2.Core"
- [x] Calls
- [x] Models

[2021-08-29 14:23] SteveMavic opened #424 "api.v2.DashboardModules"
- [x] Calls
- [x] Models

[2021-08-29 14:23] SteveMavic opened #425 "api.v2.Dev"
- [x] Calls
- [x] Models

[2021-08-29 14:24] SteveMavic opened #426 "api.v2.Image"
- [x] Calls
- [x] Models

[2021-08-29 14:24] SteveMavic opened #427 "api.v2.Init"
- [x] Calls
- [x] Models

[2021-08-29 14:24] SteveMavic opened #428 "api.v2.PlexWebhook"
- [x] Calls
- [x] Models

[2021-08-29 14:25] SteveMavic opened #429 "api.v2.Version"
- [x] Calls
- [x] Models

[2021-08-29 14:25] SteveMavic opened #430 "api.v2.Webui"
- [x] Calls
- [x] Models

[2021-08-29 14:28] #421 closed

[2021-08-30 05:29] bigretromike opened #431 "api.v2.1.Auth"

[2021-08-30 05:29] bigretromike opened #432 "api.v2.1.Common_v2_1"

[2021-08-30 05:29] bigretromike opened #433 "api.v2.1.PlexWebhook"

[2021-08-30 05:33] bigretromike opened #434 "API 1.0"
- [ ] Auth
- [ ] PlexWebhook
- [ ] ShokoServiceImplementationKodi
- [ ] ShokoServiceImplementationMetro
- [ ] ShokoServiceImplementationPlex
- [ ] ShokoServiceImplementationStream

[2021-08-30 05:34] bigretromike opened #435 "api.v1.Auth"

[2021-08-30 05:34] bigretromike opened #436 "api.v1.PlexWebhook"

[2021-08-30 05:34] bigretromike opened #437 "api.v1.ShokoServiceImplementationKodi"

[2021-08-30 05:34] bigretromike opened #438 "api.v1.ShokoServiceImplementationMetro"

[2021-08-30 05:34] bigretromike opened #439 "api.v1.ShokoServiceImplementationPlex"

[2021-08-30 05:34] bigretromike opened #440 "api.v1.ShokoServiceImplementationStream"

[2021-08-31 15:31] Kristijan1001 commented on #398
@bigretromike sorry i meant 18.9 lol. I am on it cause Nakamori works the best for it.

[2021-08-31 15:36] bigretromike commented on #398
@Kristijan1001 I'm asking you for a bit more time. I'm doing really big thing for nakamori, and the ETA is on the last day of September, but thanks to @SteveMavic support, I'm more than sure that we will hit release much much sooner.

[2021-08-31 15:37] bigretromike commented on #398
mean time im more than sure than switching grouping series option in ShokoServer/Desktop should fix this issue .

[2021-08-31 15:41] da3dsoul commented on #398
Aye. Thanks @SteveMavic. I feel bad for abandoning this, but I'm not changing my mind. You can shoot me an email if you ever have questions. I did this for a good while. My email is my username at Gmail.

[2021-09-10 16:03] #422 closed

[2021-09-11 12:08] SteveMavic commented on #423
most of them threw 500: Internal Server Error

[2021-09-11 12:08] #423 closed

[2021-09-11 12:11] #424 closed

[2021-09-11 12:32] #425 closed

[2021-09-11 13:17] #426 closed

[2021-09-11 13:58] #427 closed

[2021-09-11 14:32] #428 closed

[2021-09-11 14:35] #429 closed

[2021-09-11 15:06] #430 closed

[2021-09-20 05:16] bigretromike opened #441 "Look for apiv3 updates while we were playing with stable version"

[2021-10-16 05:38] Kristijan1001 commented on #398
@bigretromike Any updates on this ?

[2021-10-18 00:20] bigretromike opened #442 "Navigate"

[2021-10-18 00:21] bigretromike opened #443 "play files"

[2021-10-18 00:21] bigretromike opened #444 "restore settings"

[2021-10-18 00:22] bigretromike opened #445 "multilang"

[2021-10-18 00:22] bigretromike opened #446 "save progress, restore progress"

[2021-10-18 00:23] bigretromike opened #447 "restore calendars"

[2021-10-18 00:24] bigretromike opened #448 "restore external player"

[2021-10-18 14:13] Kristijan1001 commented on #398
Sorry to hear u got covid. Looking forward to the updated :).

[2021-10-18 21:20] bigretromike opened #449 "make everything nice as it used to look like (menu)"

[2021-10-21 13:21] bigretromike opened #450 "Restore Favorites"

[2021-10-21 13:21] bigretromike opened #451 "Restore Bookmark"

[2021-10-21 13:21] bigretromike opened #452 "Restore Recently2"

[2021-10-21 13:21] bigretromike opened #453 "Restore Settings"

[2021-10-21 13:22] bigretromike opened #454 "Restore Shoko Menu"
- #475
    - #482
    - #483
    - #484
    - #485
    - #486
- #476
    - #487
    - #488
    - #489
    - #490
- #477
    - #491
    - #492
    - #493
    - #503
        - #504
- #478
    - #494
    - #495
- #479
    - #496
- #480
    - #497
    - #498
- #481
    - #499
    - #500

[2021-10-21 13:22] bigretromike opened #455 "Restore Search"

[2021-10-21 13:22] #455 closed, assigned to nobody

[2021-10-21 20:33] #450 closed, assigned to bigretromike

[2021-10-22 10:27] bigretromike opened #456 "Restore 'Unsort'"

[2021-10-22 10:27] #456 closed, assigned to nobody

[2021-10-22 10:28] bigretromike opened #457 "'nice' episode types menu"

[2021-10-22 11:17] #457 closed, assigned to bigretromike

[2021-10-22 11:42] #452 closed, assigned to bigretromike

[2021-10-22 11:43] #442 closed, assigned to bigretromike

[2021-10-22 11:43] #443 closed, assigned to bigretromike

[2021-10-22 11:44] bigretromike opened #458 "Restore Extra Menus [v2]"
- [x] #459
- [x] #454

[2021-10-22 11:46] bigretromike opened #459 "restore both Calendars"

[2021-10-22 12:28] bigretromike opened #460 "Mark as un/watched"

[2021-10-22 12:28] bigretromike opened #461 "Vote for series/episode"

[2021-10-22 15:01] bigretromike opened #462 "Spoiler control"

[2021-10-22 15:01] bigretromike opened #463 "Trakt support"

[2021-10-22 16:59] bigretromike opened #464 "Vote for episode - disabled until Shoko catch up"
- [ ] https://github.com/ShokoAnime/ShokoServer/issues/803

Nakamori got everything needed for this.

Until this is implemented inside Shoko I'm disabling ability to vote on episode because there is no point in saving that data 'until forever'.

[2021-10-22 19:23] #460 closed, assigned to bigretromike

[2021-10-22 19:24] #462 closed, assigned to bigretromike

[2021-10-22 19:24] #461 closed, assigned to bigretromike

[2021-10-23 00:14] bigretromike commented on #446
- [x] resume

[2021-10-23 00:14] #446 closed

[2021-10-23 00:14] bigretromike commented on #449
- [x] coloring
- [x] bolding
- [x] ep types
- [ ] continue
- [ ] stat replace continue

[2021-10-23 14:36] bigretromike opened #465 "Enable Cache back"

[2021-11-01 18:05] ablakers commented on #454
I installed 4.0.0 from the zip before it's on the repo and I'm getting an error whenever I try to load All

`2021-11-01 17:51:19.021 T:15916   ERROR <general>: EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the following error<--
                                                    - NOTE: IGNORING THIS CAN LEAD TO MEMORY LEAKS!

[2021-11-01 20:22] bigretromike commented on #454
@ablakers thank you for installing.

for issue with "All" Are you maybe using "group series" option in shoko ?
About context menu, there is less items for sure, because I'm readding them back one by one (which one you are missing the most ?)
No, there is not need to sideload script and service - everything needed for nakamori will be inside one package so there wont be any more issues with mixed v

[2021-11-01 20:23] bigretromike opened #467 "Issue with 'All' filter"
Taken from: https://github.com/bigretromike/nakamori/issues/454
[code]

[2021-11-01 20:28] #467 closed

[2021-11-01 20:30] bigretromike commented on #454
@ablakers the 'All' should work now, but if your are using "series grouping" options inside shoko you will probably have to give me a more time because last time I tried to switch to grouping anidb ban me thanks to shoko ;-)

[2021-11-03 19:31] ablakers commented on #454
Turning off Shoko's series grouping for now gets 'All' working again, thanks

[2021-11-03 21:10] bigretromike commented on #454
I'm reimporting my collection to test it against series grouping settings - but thank you for feedback

[2021-11-05 17:57] bigretromike commented on #454
@SteveMavic interested in this, this shouldn't be a hard thing to implement and you could play with `listitem` items; its scheduled on 4.1rc so nothing that need to be done asap

[2021-11-05 17:58] bigretromike opened #468 "Series grouping support"
when `Auto group series` is enabled we have errors;
let me fix this;

[2021-11-05 18:00] #468 closed

[2021-11-05 23:55] bigretromike commented on #465
https://github.com/bigretromike/nakamori/commit/0b56ad162ba80bc6270bf95cc109a24ba50c8a38

[2021-11-05 23:55] #465 closed

[2021-11-06 08:11] Kristijan1001 opened #469 "Nakamori 4.0 No longer working after playing first file."
I can't access the all category or recently added series. Can still see and open other groups. Reinstall doesn't help its permanently broken. It is probably linked with something from ShokoServer. It says to check logs for error, but where can I find the logs ?

It also shows error occurred immediately once kodi is launched.

Found it:

[code]

[2021-11-06 08:35] Kristijan1001 commented on #469
Downloaded Master from the Git instead of the 4.0. Issue is gone.

[2021-11-06 08:35] #469 closed

[2021-11-06 08:51] Kristijan1001 opened #470 "Kodi no longers plays the files locally but streams them instead. Which results in no external subtitles. & Tags are broken and show as "Other""
This is something @da3dsoul did in the older version, to make the files play locally instead. This makes it so you can watch the series with subtitles if a external subtitle file is present.

![image](https://user-images.githubusercontent.com/24441639/140603841-ba5bdca5-2aef-4f63-bcd9-90a7d1ca7474.png)

Also tags are broken and show as "Other"

![image](https://user-images.githubusercontent.com/24

[2021-11-06 10:41] bigretromike commented on #469
@Kristijan1001 thanks for feedback. I did fixed few things recently. I'm still testing build until its go to stable repo ;-)
Glad that update fixed your issue;

[2021-11-06 10:44] bigretromike commented on #470
First part is understandable.

The tag part confuse me a bit.

@Kristijan1001 Could you write what you expect and what you get instead ?

[2021-11-06 13:09] bigretromike commented on #470
@Kristijan1001 I added support for playing files that you have mapped or have access to them as it was before. ds doesn't know what he is talking about, there were never a function/hack/tweak that forced kodi to play files from its library - maybe he mixed up project he put his fingers in ?!

I would like to ask for information needed to fix? `tags` and `Other` ?

[2021-11-06 16:08] Kristijan1001 commented on #470
The place below the covers or wherever depending on the theme you have. Where it used to say for example "Ecchi, Action, Shounen" Now it only says "Other" and nothing else.

[2021-11-06 18:08] bigretromike commented on #470
Could you check how you have your Tag Filtration setup ?

![obraz](https://user-images.githubusercontent.com/6052025/140619546-fd305455-f721-44ac-bab7-57e4785e0d39.png)

[2021-11-06 22:30] Kristijan1001 commented on #470
Yes u are right. Sorry for the trouble. There was something messed up with the theme i was using.

[2021-11-06 22:47] bigretromike commented on #470
Glad to hear that plugin is working as intended.
Fell free to leave feedback or request for functions that were in older version but are not :-)

[2021-11-06 22:47] #470 closed

[2021-11-07 00:10] Kristijan1001 opened #471 "[Feature Request] Please remove the "Episodes" & "Specials" Folders or give us an option to turn them off. They ugly and would rather have all episodes/specials in one folder."
This is really ugly bruh lol

![kodi_N74NALYaZo](https://user-images.githubusercontent.com/24441639/140627480-a35dff4c-7116-4bd2-ba69-b860490a86d0.png)

![kodi_rfhWBcX2JE](https://user-images.githubusercontent.com/24441639/140627481-1bff2169-0eaf-4a4b-a043-6d2ccec7dc1c.png)

[2021-11-07 09:52] bigretromike commented on #471
@Kristijan1001 You requested, I delivered;
Also a notice: if "ugly" referred to pictures - you could replaced those with ease with your wont picture pack, if not then I got setting for you - the "default" aka "server sort" with this option turn off (Browsing - Tweaks - Group episode types together) is funky, to mitigate this use different sort method (arrow to the left inside series view) or enabl

[2021-11-07 11:06] Kristijan1001 commented on #471
Thanks alot for your work. Yeah another picture would work also. Can the Anime Cover be pulled for a picture instead of the text covers.

[2021-11-07 12:19] bigretromike commented on #471
@Kristijan1001
Sorry as English is not may native language, but I don't quite grasp the idea. It used same pictures as it does now - but those where in resource pack.
Do I understand it correctly, that you want nakamori to use series cover (from shoko) for episode types (ex. episodes, specials, credits) instead of now-default once (text "episodes", text "specials", text "credits") ?

[2021-11-07 12:22] Kristijan1001 commented on #471
Here is the example from previous version nakamori. Basically once you open it has the anime cover instead of "special" cover.

![image](https://user-images.githubusercontent.com/24441639/140644699-c1fa2343-5e1a-4c3d-ad2d-d5fdbc7cca23.png)

[2021-11-07 12:23] Kristijan1001 commented on #471
This is how it is now:

![image](https://user-images.githubusercontent.com/24441639/140644738-08a94b6a-c6c0-4a79-9fc5-035daa0b88cb.png)

[2021-11-07 12:30] Kristijan1001 commented on #471
I think the older version is using the KODI built in Seasons Manager to handle this, where as the newer version has custom folders names "episodes" & "specials".

[2021-11-07 12:31] Kristijan1001 opened #472 "[BUG] Nakamori on Kodi Android, Doesn't play any files."
Nakamori doesn't play anything on Android Phone, Connected to the same network. It just says error check the logs. Can't find the logs on the phone, there are not in the same as the PC Kodi for some reason.

Tested on Latest Kodi Version Clean Install.

[2021-11-07 12:39] bigretromike commented on #471
No, you are wrong on this.
It use the same thing as I wrote it then and now, but then I used "seasons" category and different sort methods. Now as I rewrite most of junk code left from to many abstractions I'm adding stuff a bit different.
Names were taken from shoko directly, now we parse them and could even translate.

The goal is not rewrite Nakamori in the way it used to work, but some parts a

[2021-11-07 12:44] bigretromike commented on #471
or even b12 ;-)

[2021-11-07 12:44] Kristijan1001 commented on #471
Was just about to post u already uploaded new one gonna check out now

[2021-11-07 12:47] Kristijan1001 commented on #471
Looks better :), Covers are still not there.

![image](https://user-images.githubusercontent.com/24441639/140645530-2059245d-0570-4222-8ab0-7c994f2c5c9b.png)

[2021-11-07 12:48] bigretromike commented on #471
Because you didn't change your settings inside: Browsing > Tweaks > Use Series art.... (you need to have view higher than Basic)

[2021-11-07 12:50] Kristijan1001 commented on #471
Haha perfect it works. I didn't expect for you to add a whole new setting in 2 minutes. Thats why didnt bother to check lol. Thanks for the awesome updates. Check the android post i made there seems to be an issue.

[2021-11-07 12:50] #471 closed

[2021-11-07 12:54] Kristijan1001 commented on #471
Really bad nitpick from me. If we can capitalize the "s" in specials. If not all good this is just me being petty at this point, u did an awesome job :)

![image](https://user-images.githubusercontent.com/24441639/140645737-9cbbfcaa-9eac-43ef-82a5-ccb1ae279849.png)

[2021-11-07 12:58] bigretromike commented on #471
I will probably check later why you have "seasons" in left top corner while "seasons" are not documented.
But that's for later.

Glad you liked it.

Check B13 for capital thing, you are right, default KODI naming is Capital for specials;

[2021-11-07 12:58] bigretromike commented on #471
@Kristijan1001 btw, which skin are you using ? It will help narrow the "Season" lock thing

[2021-11-07 13:01] Kristijan1001 commented on #471
Thank you. It works perfectly now, but anyway The Kodi skin is Aura:

https://forum.kodi.tv/showthread.php?tid=328558

For Matrix need to use this one (This is why my tags didn't work earlier, cause the skin is a port and it had them broken):

https://www.reddit.com/r/Addons4Kodi/comments/mcmife/project_aura_kodi_matrix_skin_release/

[2021-11-07 13:11] bigretromike commented on #472
b13, is working fine;
try those locations:
[code]

[2021-11-07 13:17] bigretromike commented on #471
oh, that could explain why I knew that skin but didn't find it for matrix.
lot of skins ain't still ported sadly.

If there any more suggestion what was used and helpful from previous nakamori version that you would like to see back in 4.0.0 fell free to write about it 👍
every feedback count

[2021-11-07 13:24] Kristijan1001 commented on #472
I will try now. Also want to mention i tested

Latest one just checked it works. This is weird because the earlier one didn't work, I even made sure to test it with clean kodi before posting it, still didn't work.

Latest version works fine.

[2021-11-07 13:34] bigretromike commented on #471
"lock view: seasons" is hardcoded sort method inside aurora skin. Default skin behaviour is different - it allow nakamori to allow/disallow valid sort methods. nothing to do with it.

[2021-11-07 13:34] Kristijan1001 commented on #472
I have a question not related to the topic. Didn't want to make new post just to ask. What is Eigakan ? I see it mentions subtitles and stuff, but can't find anything on Google about it. Is it possible to stream .srt .ass subtitles over Kodi, cause as of right now and how it worked in the past, I can only do that on my PC since it is a direct play and not streamed.

[2021-11-07 13:35] bigretromike commented on #472
It could be around ~ 5-6 version ago that I fixed one typo related with playing items, maybe it was that.

[2021-11-07 13:40] Kristijan1001 commented on #471
As of right now everything seems to be working fine. I can't think off anything from the old versions that is needed.
As for feature add i would go with if possible:

- Possibility of Streaming .srt .ass etc. Subtitles that are picked right from the folder where the episode is located.
- Make Kodi Generate "Screen Captures" for episodes. So it has screen captures instead of this:

![image](https:/

[2021-11-07 13:40] bigretromike commented on #472
Glad you asked, its not strange that you couldn't fine any information about it.
It was my side project related with nakamori.

Basically it was a ffmpeg wrapper with small api server that would stream anything from ShokoServer to Kodi thru Nakamori with basic control. It was working fine with my only TV that didn't handle all those fancy codecs etc. I wrote it because there werent any other optio

[2021-11-07 13:41] #472 closed

[2021-11-07 13:48] bigretromike commented on #471
I could replace that ugly yet funny picture with something else on nakamori side, but generating thumbnails for episodes should be a ShokoServer task, they were retiring from using tvdb anyway and were looking for replacment.

Thats should be a task for Shokoserver because each kodi instant would do this job again and again (including your mobile android).

Possiblity of streaming subtitles are th

[2021-11-07 13:56] Kristijan1001 commented on #471
Seems fair. For the Thumbnails wouldn't mind that tbh, maybe have it as an optional option. The way I use Kodi, is only 1 Build, That I FTP to all my devices when needed. It would be a bandaid fix for thumbnails, but better than none i guess ?

[2021-11-07 14:01] bigretromike commented on #471
Thumbnails are something ShokoServer need to address - from remote database or generated locally.
But I will add option to replace that white image for something inside image/icon pack so end user can replace it also. It look very back with dark themed skin.

[2021-11-07 14:02] bigretromike opened #473 "Setting for replacing "no thumb for episode" image to something from icon/image pack"

[2021-11-07 14:05] Kristijan1001 commented on #471
Yeah, That will work. Could it be done like this:

![image](https://user-images.githubusercontent.com/24441639/140648327-1606c6ba-0afb-4ceb-837a-c0bff3000813.png)

[2021-11-07 14:15] bigretromike commented on #471
The cover you are marking is thumbnail for episode or fanart depending on view you are using.
Also its based on skin you use.

I will try to do something better than 90% being white in dark theme ;-)

[2021-11-07 14:34] #473 closed

[2021-11-07 14:40] bigretromike commented on #471
@Kristijan1001 https://github.com/bigretromike/nakamori/issues/473
I'm currently not replacing episode thumb with series covers - but will consider it a bit later.

I will also reconsider generating thumbnails if shokoserver wont handle it in anyway, but its a good idea to make issue on shokoserver issue page.

One of the functionality will end up in Nakamori if shoko wont provide proper thumbnail

[2021-11-07 14:41] bigretromike commented on #473
New option in settings:
Browser -> Tweaks -> Replace missing image...

[2021-11-07 14:49] Kristijan1001 commented on #471
Thanks. Either way its no that big of a deal. I have brought this up already in the Shoko Discord server months ago. ¯\_(ツ)_/¯

[2021-11-07 14:51] bigretromike commented on #471
Months? It's been on "need to do" for years ;-)

Fell free to post ideas/feedback here on github, I don't promise to fix/add/patch everything as quick as I did today, but I will do my best to "keep on keeping on" :)

[2021-11-07 15:19] Kristijan1001 commented on #471
Yeah all good. If i think of something else i'll post it here. You should probably update the official site with this version, also Repo seems to be wiped ?

Not many people will be able to find it here on github.

[2021-11-07 16:01] bigretromike commented on #471
that's a good point.
I postpone it because I had a felling not everything is working correct.
But that's probably best next goal.

[2021-11-07 17:19] #398 closed

[2021-11-07 18:30] bigretromike commented on #471
@Kristijan1001 DEV-Repo is up and running btw.

[2021-11-07 18:31] bigretromike commented on #393
Dev-repo is up and running.
https://shokunin.monogatari.pl/repo-dev/

[2021-11-07 18:32] #393 closed

[2021-11-08 15:31] Kristijan1001 commented on #473
How do use the Image/Icon pack from where ? How would I go in setting a custom image ?

[2021-11-08 16:16] bigretromike commented on #473
Or if they are "excelent" I can add them as `default` ;-)

[2021-11-08 16:27] Kristijan1001 commented on #473
Haha nah its fine its just a black background rlly generic.

[2021-11-08 16:30] bigretromike commented on #473
^_^

[2021-11-14 22:24] SteveMavic opened #475 "Shoko (menu directory)"
- [x] route handling
- [x] items - structure
- [x] items - route handling

[2021-11-14 22:26] SteveMavic opened #476 "AniDB (menu directory)"
- [x] route handling
- [x] items - structure
- [x] items - route handling

[2021-11-14 22:26] SteveMavic opened #477 "Import folders (menu directory)"
- [x] route handling
- [x] items - structure
- [x] items - route handling

[2021-11-14 22:26] SteveMavic opened #478 "TvDB (menu directory)"
- [x] route handling
- [x] items - structure
- [x] items - route handling

[2021-11-14 22:26] SteveMavic opened #479 "MovieDB (menu directory)"
- [x] route handling
- [x] items - structure
- [x] items - route handling

[2021-11-14 22:26] SteveMavic opened #480 "Images (menu directory)"
- [x] route handling
- [x] items - structure
- [x] items - route handling

[2021-11-14 22:26] SteveMavic opened #481 "Trakt (menu directory)"
- [x] route handling
- [x] items - structure
- [x] items - route handling

[2021-11-14 22:31] SteveMavic opened #482 "Menu -> Shoko -> AVDump mismatched files"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:31] SteveMavic opened #483 "Menu -> Shoko -> Recreate all groups"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:31] SteveMavic opened #484 "Menu -> Shoko -> Sync hashes"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:31] SteveMavic opened #485 "Menu -> Shoko -> Update all mediainfo"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:31] SteveMavic opened #486 "Menu -> Shoko -> Update series stats"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:31] SteveMavic opened #487 "Menu -> Shoko -> AniDB -> Download missing data"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:31] SteveMavic opened #488 "Menu -> Shoko -> AniDB -> Sync votes"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:31] SteveMavic opened #489 "Menu -> Shoko -> AniDB -> Sync "My List""
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:31] SteveMavic opened #490 "Menu -> Shoko -> AniDB -> Update all info"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:31] SteveMavic opened #491 "Menu -> Shoko -> Import folders -> Remove missing files"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:31] SteveMavic opened #492 "Menu -> Shoko -> Import folders -> Remove missing files (keep in "My List")"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:31] SteveMavic opened #493 "Menu -> Shoko -> Import folders -> Run import"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:31] SteveMavic opened #494 "Menu -> Shoko -> TvDB -> Regenerate links"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:32] SteveMavic opened #495 "Menu -> Shoko -> TvDB -> Update all info"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:32] SteveMavic opened #496 "Menu -> Shoko -> MovieDB -> Update all info"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:32] SteveMavic opened #497 "Menu -> Shoko -> Images -> Update all"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:32] SteveMavic opened #498 "Menu -> Shoko -> Images -> Validate all"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:32] SteveMavic opened #499 "Menu -> Shoko -> Trakt -> Sync Trakt collection"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-14 22:32] SteveMavic opened #500 "Menu -> Shoko -> Trakt -> Update all info"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-15 08:55] #482 closed

[2021-11-15 08:56] #483 closed

[2021-11-15 08:56] #484 closed

[2021-11-15 08:56] #485 closed

[2021-11-15 08:56] #486 closed

[2021-11-15 08:56] #475 closed

[2021-11-18 14:36] bigretromike opened #501 "Search menu, use replace for history"
using replace instead of addList();

[2021-11-18 14:36] bigretromike opened #502 "use 'summary' for options descriptions."
with or without settings for turning this off.

[2021-11-18 21:26] SteveMavic opened #503 "Menu -> Shoko -> Import folders -> User's import folder"
- [x] route handling
- [x] items - structure
- [x] items - route handling

[2021-11-18 21:29] SteveMavic opened #504 "Menu -> Shoko -> Import folders -> User's import folder -> Rescan folder"
- [x] link to parent directory
- [x] create localized string
- [x] route handling

[2021-11-18 22:42] #477 closed

[2021-11-18 22:42] #491 closed

[2021-11-18 22:42] #492 closed

[2021-11-18 22:42] #493 closed

[2021-11-18 22:42] #503 closed

[2021-11-18 22:42] #504 closed

[2021-11-19 15:56] #476 closed

[2021-11-19 15:56] #487 closed

[2021-11-19 15:56] #488 closed

[2021-11-19 15:56] #489 closed

[2021-11-19 15:56] #490 closed

[2021-11-19 16:04] #478 closed

[2021-11-19 16:04] #494 closed

[2021-11-19 16:04] #495 closed

[2021-11-19 16:10] #479 closed

[2021-11-19 16:10] #496 closed

[2021-11-19 17:51] #498 closed

[2021-11-19 17:51] #497 closed

[2021-11-19 17:51] #480 closed

[2021-11-19 17:58] #481 closed

[2021-11-19 17:58] #499 closed

[2021-11-19 17:58] #500 closed

[2021-11-19 18:50] SteveMavic commented on #502
`ListItem.setInfo(type="video", infoLabels={"plot": "description_goes_here"})`

https://alwinesch.github.io/group__python__xbmcgui__listitem.html#ga0f1e91e1d5aa61d8dd0eac90e8edbf18

---

![list_item_plot_example](https://user-images.githubusercontent.com/27968645/142675678-9eee6b95-9cac-4292-89ba-d922b664ec14.png)

[2021-11-19 21:03] bigretromike commented on #454
Looks like you done it @SteveMavic

[2021-11-19 21:03] #454 closed

[2021-11-25 22:50] bigretromike commented on #381
@ElementalCrisis Hello. Thanks !
Besides building it from scratch for Kodi 19, it also is fully compatible with ShokoServer 4.1.x.
Nothing to fancy - for now there is no change log, but surely there will be one, when I'm done with calendar.

[2021-11-25 22:53] bigretromike commented on #381
Also I will be updating stable repository, as for now only dev one is up2date, so you can wait 2more days until I get around it and make it right @ElementalCrisis I didn't haste to inform you because I wanted to finish the 'old' stable repository so everyone that had been using it would get update - but I did not figure out how not to nuke them so I will probably make one new repository as for now

[2021-11-25 22:53] #381 closed

[2021-12-01 23:40] ElementalCrisis commented on #381
Sounds good!

Send me a message on Discord when it's all ready to go! :)

[2022-01-14 01:27] ElementalCrisis commented on #381
Hey BRM, just checking in and seeing how it's coming along.

[2022-01-16 20:44] bananathepirate opened #506 "CAddonInstallJob[plugin.video.nakamori]: The dependency on xbmc.python version 2.14.0 could not be satisfied."
https://github.com/bigretromike/nakamori/releases/tag/4.0.0

Kodi v19.3 (Matrix)

manual installation failed, wrong python version

[2022-02-02 01:32] ElementalCrisis commented on #506
So I had to manually install [script.module.routing](https://mirrors.kodi.tv/addons/matrix/script.module.routing/) to get it to install but its crashing and erroring quite a bit.

[code]

[2022-02-09 17:40] bigretromike commented on #506
@bananathepirate sorry for keeping you wait. Did you resolved the problem or its still there ?

I didn't test nakamori agains 19.3, will try to do it

[2022-02-09 17:57] bigretromike commented on #506
@bananathepirate no issue with installing it from repository: shokunin.monogatari.pl/repo/repository.nakamori.zip

Which matrix version are you using ? - we stopped using hacked/tweaked routing plugin version that ds did, we using official one:
https://kodi.tv/addons/matrix/script.module.routing

[2022-02-09 18:06] bigretromike commented on #506
@ElementalCrisis @bananathepirate
I checked both version for WIndows (32 & 64-bit) both works fine when installing manually - by installing from zip, from "latest releases" or from repostiory.

Double check if you dont use older nakamori version, hacked routing plugin or non vanilla matrix release.
If needed try portable kodi with profile switch to use clean profile without wiping yours.

Nakamori

[2022-02-17 20:25] bigretromike commented on #506
@ElementalCrisis thats super strange. Are you wiping profile on your machine when deleting kodi ?

I tried it on two different machines with same results - still cannot reproduce this issue :(

[2022-02-18 01:47] ElementalCrisis commented on #506
I was able to get it working.

I recently had to reinstall Windows so installed it on a fresh copy, used the repo link from your site and installed Nakamori. No install errors or running errors like before.

I have no idea what is different about this time vs last time, lol.

I'll get a blog post written up this weekend for it. Let me know if there is anything in particular, you'd like me to menti

[2022-02-20 10:16] bigretromike commented on #506
@ElementalCrisis nothing particular - maybe other than something along "if you have issue with Nakamori, please use github to report issue, as the Nakamori Stuff ain't present on Discord", the older I get the less time for "messing with code" I have, but I don't plan to remove Nakamori from my heart and my "not so" daily use-case.
You guys probably saw it already but if I'm online I don't have tim

[2022-02-20 10:17] #506 closed

[2022-04-04 19:17] ElementalCrisis commented on #381
Sorry for the late response, I don't get notified apparently of replies and have been busy.

I'll make the blog post this week. Anything in particular you'd like me to mention in it?

[2022-04-29 17:43] bigretromike commented on #381
@ElementalCrisis postpone that news, I would like to review code against newest shoko+kodi. No need to "announce" something that is not tested with latest v.

[2022-04-29 22:39] ElementalCrisis commented on #381
No problem, I've been busy so haven't had a chance to type it out yet.

Let me know when you're ready.

[2022-05-06 18:00] SomeRandomDude870 opened #507 "PythonToCppException - thrown when clicking Category"
Hi, I hope that this is still being updated...

I get the above exception when I click on a Category. Like "all", or an self made group and quite often inside groups (like Tags) when I click on some of the Tags.

Kodi 19.3, newest Shoko Server

` WARNING <general>: CPythonInvoker(122, /storage/emulated/0/Android/data/org.xbmc.kodi/files/.kodi/addons/plugin.video.nakamori/nakamoriplugin.py): the py

[2022-05-23 20:07] SomeRandomDude870 commented on #507
Nakamori 4.0 and Shoko nightly.

[2022-05-25 15:13] bigretromike opened #508 "Kodi 19.4 + daily shoko (06.05.2022)"
- [x] windows
- [x] clean kodi 19.4
- [x] install repo from zip
- [x] install naka from repo
- [x] wizard
- [x] lunch naka
- [x] server booting up screen (after 5h.... loaded.)
- [x] navigate
- [x] play files
- [x] mark as watched
- [x] mark as unwatched
- [x] android
- [x] play files (issue on slow wifi)
- [x] ...

[2022-05-25 15:16] bigretromike opened #509 "Kodi 20.x (Nexus) test"
- [x] clean kodi 20.0-pre
- [x] install repo from zip
- [x] install naka from repo
- [x] wizard
- [x] lunch naka
- [x] server booting up screen
- [x] navigate
- [x] play files
- [x] mark as watched
- [x] mark as unwatched
- [x] ...

[2022-05-25 19:38] bigretromike commented on #507
https://github.com/bigretromike/nakamori/issues/508

Based on the log you posted, you are using it on Android.
Are you using grouping series option in ShokoServer?

[2022-05-26 18:37] bigretromike commented on #459
ac is probably cleaner;

[2022-05-26 18:48] #459 closed

[2022-05-26 18:48] #508 closed

[2022-05-26 18:48] #394 closed

[2022-05-26 18:48] #458 closed

[2022-05-26 18:48] #323 closed

[2022-05-26 18:48] #340 closed

[2022-05-26 18:48] #370 closed

[2022-05-26 18:48] #372 closed

[2022-05-26 18:48] #238 closed

[2022-05-26 18:48] #305 closed

[2022-05-27 13:26] SomeRandomDude870 opened #510 "4.1 - Cannot open Addon"
HI, I wanted to provide more information for my last problem, but then I have seen that there is a new Version out and installed that one.
Before that I was at least able to open the first Site and some Subsites.

When I now click on nakamori Addon, I will just get an Error Notification.

Kodi 19.4
Fire TV Stick 4k Max
Shoko Server Nightly
Nakamori 4.1

`  ERROR <general>: ERROR: EMBY.hooks.monito

[2022-05-27 13:35] bigretromike commented on #510
ok, can you go into nakamori plugin settings and do both connection and login wizard;

[2022-05-27 13:53] SomeRandomDude870 commented on #510
lol no, I can´t open the Addon at all.
When I check in Configure of Kodi then the correct data is filled.... although if I click at "restore defaults", the "Advanced" setting will not be deleted.

Now I get this after the long Error:
And yes, I already restarted the Stick multiple times.

`2022-05-27 15:50:07.753 T:8150  WARNING <general>: CPythonInvoker(96, /storage/emulated/0/Android/data/org.xb

[2022-05-27 14:05] bigretromike commented on #510
This error is because nakamori throw error and didn't exit properly. this don't give us any clue.

[2022-05-27 14:05] da3dsoul commented on #510
You can edit addon settings without opening them. The location depends on the skin, but generally, you open the context menu on the add-on from the add-ons list

[2022-05-27 14:07] bigretromike commented on #510
Hope you not using older, hacker `routing` plugin that was needed to use with Nakamori 3.x.x

[2022-05-27 14:10] bigretromike commented on #510
for my device, you need to click "default" and the "ok" so the settings are saved

[2022-05-27 15:52] SomeRandomDude870 commented on #510
Okay, sorry - UPDATE
I just did change the Genre Settings. I basically activated everything related to Genre to see what they do and then it throw me out. Not sure if it happened with the Last or when I was switching to Save.

Here:
`
 17:39:15.734 T:12297   ERROR <general>: GetDirectory - Error getting plugin://plugin.video.nakamori/settings
2022-05-27 17:40:24.709 T:11180    INFO <general>: Load

[2022-05-27 16:55] Tamba3998 opened #511 "Kodi crashes when trying to play files using Nakamori"
Kodi 19.3.0 (Android)

2022-05-27 18:17:42.817 T:29270    INFO <general>: CAddonMgr::FindAddons: plugin.video.nakamori v4.1.0 installed
2022-05-27 18:17:42.818 T:29270    INFO <general>: CAddonMgr::FindAddons: repository.nakamori v1.4.6 installed
2022-05-27 18:17:42.818 T:29270    INFO <general>: CAddonMgr::FindAddons: resource.images.nakamori v3.2.0 installed
2022-05-27 18:17:42.820 T:29270    IN

[2022-05-27 20:25] bigretromike commented on #510
The later part is related to issue I found out with calendar and missing library on Android Kodi build.

@SomeRandomDude870 I understand `I just did change the Genre Settings.` your are refering to `Tag FIlter` in Nakamori settings or some kind of settings in shoko server?

[2022-05-27 20:27] bigretromike commented on #511
[code]

[2022-05-27 21:20] Tamba3998 commented on #511
I got rid of the other addons and it might have helped...a little?
I was able to open 3 files and it only crashed on the third one.
I'm also on version 4.1.1 now
[kodi.log](https://github.com/bigretromike/nakamori/files/8789745/kodi.log)

[2022-05-27 21:39] bigretromike commented on #511
Thats better, also if you used nakamori 3.x you probably have remixed `routing` plugin that one need to go out also, we are using official `routing` plugin.

I will investigate into playing file issue

[2022-05-27 22:57] bigretromike commented on #510
There was and issue with ShokoServer and `Inverted` flag (aka `Show` in Nakamori).
I pushed patch for the issue, should be up and running with newest daily build that will include it.

[2022-05-27 22:57] #510 closed

[2022-05-27 23:01] bigretromike opened #512 "PIL/Pillow throw error on Android device for Calendar"
[code]

Make workaround using different text maker or use labels instead of images

[2022-05-27 23:10] bigretromike commented on #511
I found a bit different issue. I will look this also.
I will assume that Kodi dont show you message that the network is to slow and video just cuts of because of empty buffor.

Could you specify what do you mean by `crash`, does it crash kodi, crash player and exit to nakamori menu with episodes ?

[2022-05-28 08:54] Tamba3998 commented on #511
It completely crashes kodi:
click file --> loading animation for 10-20 seconds --> get dropped to the Android desktop

I've tried increasing the buffer time in the nakamori settings, but that didn't stop the crashes.
Even when playback works, it seems to buffer for a while before the playback starts, so I can definitely see this being a buffer issue, but I don't think it's the *network* speed (wir

[2022-05-28 18:21] bigretromike commented on #511
Its definitly slower than native access to file, but still it shouldn't be that slow.
I remember having to tweak player a bit because Kodi being stupid and broken in kodi19-beta.

I did try to run few files for more than a minute, but I will go ahead and test it a bit more, maybe on emulator too.

@Tamba3998 could you try to install Kodi 19.4, its on kodi.tv page, dunno why its not on store, but I

[2022-05-29 18:52] bigretromike commented on #511
Big file depending on size vs bandwith (1,5GB on 100mbps or 4Gb on 5Ghz Wifi) as a http stream will timeout (for 20 sec - 80 seconds) and then Kodi crashes. Same file work flawless on direct access.

[2022-06-03 11:30] Kristijan1001 opened #513 "Dupe"

[2022-06-03 11:31] Kristijan1001 opened #514 "X"
X

[2022-06-03 11:32] #513 closed

[2022-06-03 11:43] Kristijan1001 commented on #514
Ignore

[2022-06-03 11:43] #514 closed

[2022-06-03 17:18] bigretromike commented on #514
This was fixed in shoko server by me :-) should work with daily build

[2022-06-03 18:31] Kristijan1001 commented on #514
Thanks. So will need the nightly build for it ? I remembered I posted something similar awhile back. Then tested it and it seemed the tags showed up if you click info on a series in the default theme. I wanted it to be in the info section, but tried like 10 themes and none of them showed it. So I thought it Is theme fault so decided to remove post

[2022-06-03 21:46] bigretromike commented on #514
Will resolve the crash definitly !.

Make screen shot and show me where you want and what you want. I will check it later and think out something if its useful ;)

[2022-06-03 22:35] Kristijan1001 commented on #514
It would basically be somewhere here like example "Tags: Blah Blah etc.. "

![image](https://user-images.githubusercontent.com/24441639/171962940-4e4b928b-aa97-415e-95f5-734d23e6c3d0.png)

[2022-06-04 13:33] bigretromike commented on #514
Without changing anything in skin I can only make it work like this (with ability to shorten for given length because long list will move plot out of view) - I think this will do - also its affected by show/hide function. I will push this later with other tweaks stay tune and it will be available soonish in repo.

![obraz](https://user-images.githubusercontent.com/6052025/172001554-74cf2fe2-ce56-4

[2022-06-04 18:22] Kristijan1001 commented on #514
Thanks a lot I will check it out. For it pushing out of the screen not sure if we are referring to the same thing. But most skins have an option to scroll through the synopsis, so maybe that wouldn't be an issue ?

[2022-06-05 02:32] Kristijan1001 commented on #514
Just tested it. Works fine. On other skins it shows when pressing the info button. On it own when scrolling it only shows the synopsis at least from the skins I tested. I use artic horizon at the moment. It is good enough, before there was no way to see it either way. Thanks for the help.

[2022-06-05 15:57] bigretromike commented on #514
@Kristijan1001 with official skin tags would show up when you hit 'I' or from context menu Information.

Glad it helped you, I find it useful but sadly would like to see it a bit differently - but you are right, its skin issue.

[2022-06-05 16:09] da3dsoul commented on #514
I've considered updating part of my skin. Sadly, with their texture format, it's a pita to version control

[2022-06-05 19:34] bigretromike commented on #514
@da3dsoul if you do ping me, and I will readd it back to repo

[2022-08-13 12:09] SamuelBMartins opened #515 "User ratings can also be non-integer numbers"
I recently installed Nakamori and every time i try to open the list of all the anime it gives me an error.

Here the logs:
[code]

I rated an anime 8.5 using Shoko Desktop. I think the problem is here:
https://github.com/bigretromike/nakamori/blob/db1478f73ac0eeb58b0c6c2191135141e2072abf/models/kodi_models.py#L666

[2022-08-16 19:20] bigretromike commented on #515
yes, and no.
One should not score non integer (ex. decimal) rating, because its not support by anidb.

I will fix this as soon I get some extra free time.

Also please consider using valid rating if you want to contribute your scorring to AniDb.

[2022-09-06 12:58] bigretromike commented on #515
Thanks you for reporting issue;
The issue has been resolved, sorry for the trouble.

[2022-09-06 12:58] #515 closed

[2022-10-15 20:53] bigretromike opened #516 "Unsort files report strange duration"
`388:13:25`

[2022-10-15 20:54] #296 closed

[2022-10-15 20:56] bigretromike commented on #509
for now its tested;
[x] calendar

[2022-10-15 20:56] #509 closed

[2022-10-15 21:02] bigretromike commented on #463
Is anyone even using it ? :-)